n8n-workflow-actual.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nlet rawText = input.output || input.text || input.response || \n              (input.content?.parts?.[0]?.text) || (input.message?.content) || \"\";\n\ntry {\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error(\"Không tìm thấy JSON\");\n  const p = JSON.parse(jsonMatch[0]);\n  return [{\n    json: {\n      category: p.category || null,\n      sales_subcategory: (p.sales_subcategory || \"consultation\").toLowerCase().trim(),\n      brand: (p.brand || \"\").toLowerCase().trim(),\n      model_slug: (p.model_slug || \"\").toLowerCase().trim(),\n      car_type: (p.car_type || \"\").toLowerCase().trim(),\n      seat_min: p.seat_min ? Number(p.seat_min) : null,\n      fuel: (p.fuel || \"\").toLowerCase().trim(),\n      budget_max: p.budget_max ? Number(p.budget_max) : null,\n      price_sort: (p.price_sort || \"\").toLowerCase().trim() || null,\n      use_case: p.use_case || null,\n      qa_intents: Array.isArray(p.qa_intents) ? p.qa_intents : [],\n      compare_with_brand: (p.compare_with_brand || \"\").toLowerCase().trim(),\n      compare_with_model: (p.compare_with_model || \"\").trim(),\n      compare_target: (p.compare_target || \"\").toLowerCase().trim(),\n      status: typeof p.status === \"boolean\" ? p.status : false\n    }\n  }];\n} catch(e) {\n  return [{ json: { category: \"ERROR_FORMAT\", raw_debug: rawText.substring(0,200), status: false }}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        1120
      ],
      "id": "772381fe-b638-4889-b90e-0d7df5f3c101",
      "name": "xu_ly_category"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "GREETING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0d214a91-7e47-47d8-a0b7-d1a82f71ee0e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GREETING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "68b4f189-a5e9-4417-9071-03c7dcf0620b",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "SAFETY_GUARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SAFETY_GUARD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb55e482-6876-43a6-a2d9-e0bac68b2caf",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "SALES_LEAD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SALES_LEAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e632be9e-0092-4725-a1f3-f44942df9baf",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "SERVICE_APPOINTMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SERVICE_APPOINTMENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "179a2a24-4a52-4ccf-9f4a-e30c131054b2",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "NETWORK_LOCATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NETWORK_LOCATION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3d10251-c690-49d0-8c42-dba0cca37e46",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "CRITICAL_COMPLAINT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CRITICAL_COMPLAINT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24675187-d55a-4435-91a9-efdda350f4d4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "POLICY_LEGAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POLICY_LEGAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5ad9690-e822-4dc8-b1e9-b199e49ca03b",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "OUT_OF_SCOPE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OUT_OF_SCOPE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15d201b4-b839-4077-84f4-c84e3947cd87",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "AMBIGUOUS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AMBIGUOUS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7aafbb96-019d-4432-8c85-24243c888490",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "TRADE_IN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TRADE_IN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fbe3e121-003d-4142-9ac7-08faf2f08844",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "BRAND_INFO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BRAND_INFO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41c810a7-3336-4462-83a2-e95bad5d64dc",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "RECRUITMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RECRUITMENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51b406f2-4bd2-4459-80e5-32c90a6a7eb1",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "URGENT_CONSULT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URGENT_CONSULT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "974fb939-457a-4eaa-9e50-3dbefce3c165",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "COMPANY_CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPANY_CONTACT"
            }
          ]
        },
        "options": {}
      },
      "id": "508cd406-aedb-4307-ab0f-73df5cdea1c0",
      "name": "Route by Intent1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -976,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// FILTER ENGINE + MARKDOWN TRIMMER + FAQ INTENT FILTER + COMPARISON + ROLLING PRICE CALC\n// Paste vào n8n node: \"Code in JavaScript\" (sau Switch.SALES_LEAD)\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\n\n// === Entity từ Router ===\nconst brand = (d.brand || \"\").toLowerCase().trim();\nconst model_slug = (d.model_slug || \"\").toLowerCase().trim();\nconst car_type = (d.car_type || \"\").toLowerCase().trim();\nconst seat_min = d.seat_min ? Number(d.seat_min) : null;\nconst fuel = (d.fuel || \"\").toLowerCase().trim();\nconst budget_max = d.budget_max ? Number(d.budget_max) : null;\nconst price_sort = (d.price_sort || \"\").toLowerCase().trim();\nconst qa_intents = Array.isArray(d.qa_intents) ? d.qa_intents : [];\n\n// === Entity so sánh ===\nconst compare_target = (d.compare_target || \"\").toLowerCase().trim();\nconst compare_with_brand = (d.compare_with_brand || \"\").toLowerCase().trim();\nconst compare_with_model = (d.compare_with_model || \"\").trim();\n\nconst sales_subcategory = (d.sales_subcategory || \"consultation\").toLowerCase().trim();\nconst province = (d.province || \"ho-chi-minh\").toLowerCase().trim();\n\n// === Đếm SALES_LEAD turn để trigger lead capture ===\nconst history = (d._prev?.history) || [];\nconst sales_turn_count = history.filter(h => h.intent === 'SALES_LEAD').length;\nconst should_capture_lead = sales_turn_count >= 2;\n\nconst THACO_BRANDS = ['kia', 'mazda', 'peugeot', 'bmw', 'mini', 'thaco-truck', 'thaco-bus'];\n\n// =========================================================\n// HELPER 1: Trim markdown — chỉ giữ section H2 trong allowlist\n// =========================================================\nfunction trimMarkdown(md, allowlist, opts = {}) {\n  if (!md || typeof md !== 'string') return '';\n  const maxChars = opts.maxChars || 3500;\n  md = md.replace(/^---[\\s\\S]*?---\\s*/m, '');\n  md = md.replace(/^>.*$/gm, '');\n  md = md.replace(/!\\[[^\\]]*\\]\\([^\\)]*\\)/g, '');\n  const parts = md.split(/^## /m);\n  const intro = parts.shift() || '';\n  let kept = intro.trim() + '\\n';\n  for (const part of parts) {\n    const heading = part.split('\\n')[0].toLowerCase();\n    if (allowlist.some(k => heading.includes(k.toLowerCase()))) {\n      kept += '\\n## ' + part.trim() + '\\n';\n    }\n  }\n  if (kept.length > maxChars) kept = kept.slice(0, maxChars) + '\\n...[đã rút gọn]';\n  return kept.trim();\n}\n\n// =========================================================\n// HELPER 1B: Extract chỉ Tóm tắt + Trang bị nổi bật phiên bản đầu (cho compare)\n// =========================================================\nfunction extractCompareMd(md) {\n  if (!md || typeof md !== 'string') return '';\n  md = md.replace(/^---[\\s\\S]*?---\\s*/m, '');\n  md = md.replace(/^>.*$/gm, '');\n  md = md.replace(/!\\[[^\\]]*\\]\\([^\\)]*\\)/g, '');\n\n  // Split theo ^## để lấy từng section H2 — tránh dùng \\Z (không hỗ trợ trong JS regex,\n  // bị hiểu là literal Z và với /i flag thành [Zz] → cắt sai ở chữ z trong \"mazda\")\n  const sections = md.split(/^## /m);\n  let result = '';\n\n  // 1. Section Tóm tắt\n  for (const sec of sections.slice(1)) {\n    const heading = sec.split('\\n')[0].toLowerCase();\n    if (heading.includes('tóm tắt') || heading.includes('tom tat')) {\n      result += '## ' + sec.trim() + '\\n\\n';\n      break;\n    }\n  }\n\n  // 2. Section Trang bị nổi bật → chỉ giữ phiên bản H3 đầu tiên\n  for (const sec of sections.slice(1)) {\n    const heading = sec.split('\\n')[0].toLowerCase();\n    if (heading.includes('trang bị nổi bật')) {\n      const h3Parts = sec.split(/^### /m);\n      if (h3Parts.length >= 2) {\n        const header = '## ' + h3Parts[0].trim();\n        const firstVersion = h3Parts[1].trim();\n        result += `${header}\\n\\n### ${firstVersion}\\n`;\n      } else {\n        result += '## ' + sec.trim() + '\\n';\n      }\n      break;\n    }\n  }\n\n  return result.trim();\n}\n\n// =========================================================\n// HELPER 1C: Tính giá lăn bánh — fetch policy + compute theo seat + brand\n// =========================================================\nlet _rollingPolicy = null;\nasync function calcRollingPrice(modelPrice, provinceArg, seatArg, brandArg) {\n  if (!modelPrice || modelPrice <= 0) return null;\n  try {\n    if (!_rollingPolicy) {\n      const data = await this.helpers.httpRequest({\n        method: 'GET',\n        url: base + 'wiki/policies/rolling-price.json',\n        json: true,\n        returnFullResponse: false\n      });\n      _rollingPolicy = (typeof data === 'string') ? JSON.parse(data) : data;\n    }\n    const p = _rollingPolicy;\n\n    // 1. Province → phí trước bạ % + phí biển số\n    const provinceKey = (p.registration_fee_pct[provinceArg]) ? provinceArg : 'default';\n    const reg_pct = p.registration_fee_pct[provinceKey];\n    const plate = p.license_plate_fee_vnd[provinceKey];\n    const reg_fee = Math.round(modelPrice * reg_pct);\n\n    // 2. Bảo hiểm vật chất theo % giá xe\n    const physical_ins = Math.round(modelPrice * p.physical_insurance_pct);\n\n    // 3. TNDS theo SỐ CHỖ NGỒI\n    const seatNum = Number(seatArg || 5);\n    let tnds;\n    let tnds_tier;\n    if (seatNum <= 5) {\n      tnds = p.tnds_insurance_yr_vnd['5_seat_or_less'];\n      tnds_tier = '≤5 chỗ';\n    } else if (seatNum <= 7) {\n      tnds = p.tnds_insurance_yr_vnd['6_to_7_seat'];\n      tnds_tier = '6-7 chỗ';\n    } else {\n      tnds = p.tnds_insurance_yr_vnd['8_seat_or_more'];\n      tnds_tier = '≥8 chỗ';\n    }\n\n    // 4. Service fee theo BRAND\n    const brandKey = (brandArg || '').toLowerCase().trim();\n    const service_fee = p.service_fee_vnd.by_brand[brandKey] || p.service_fee_vnd.default;\n\n    // 5. Phí cố định\n    const inspection = p.fixed_fees_vnd.inspection;\n    const road_maintenance = p.fixed_fees_vnd.road_maintenance_yr;\n\n    // 6. Tổng\n    const total = modelPrice + reg_fee + plate\n      + inspection + road_maintenance + tnds + service_fee\n      + physical_ins;\n\n    return {\n      province_used: provinceKey,\n      registration_fee_pct: reg_pct,\n      seat_used: seatNum,\n      tnds_tier,\n      brand_used: brandKey || 'default',\n      breakdown: {\n        model_price: modelPrice,\n        registration_fee: reg_fee,\n        license_plate: plate,\n        inspection,\n        road_maintenance,\n        tnds_insurance: tnds,\n        service_fee,\n        physical_insurance: physical_ins\n      },\n      total,\n      labels: p.fee_labels_vi,\n      notes: p.notes\n    };\n  } catch (e) {\n    return { error: e.message };\n  }\n}\n\n// Format helper VNĐ\nfunction fmtVnd(n) {\n  if (n === null || n === undefined) return '—';\n  return Math.round(n).toLocaleString('de-DE') + ' ₫';\n}\n\n// Format calc result thành text bundle\nfunction formatRollingPriceBundle(modelName, calc) {\n  if (!calc || calc.error) return `\\n[LỖI tính giá lăn bánh: ${calc?.error || 'không có giá'}]`;\n  const b = calc.breakdown;\n  const L = calc.labels;\n  const provinceText = calc.province_used === 'ho-chi-minh' ? 'HCM' :\n    calc.province_used === 'ha-noi' ? 'HN' : 'tỉnh khác';\n  return `\\n\\n=== GIÁ LĂN BÁNH ƯỚC TÍNH ${modelName} (đăng ký ${provinceText}, ${calc.seat_used} chỗ, brand=${calc.brand_used}) ===\n- ${L.model_price}: ${fmtVnd(b.model_price)}\n- ${L.registration_fee} (${(calc.registration_fee_pct * 100)}%): ${fmtVnd(b.registration_fee)}\n- ${L.license_plate}: ${fmtVnd(b.license_plate)}\n- ${L.inspection}: ${fmtVnd(b.inspection)}\n- ${L.road_maintenance}: ${fmtVnd(b.road_maintenance)}\n- ${L.tnds_insurance} [${calc.tnds_tier}]: ${fmtVnd(b.tnds_insurance)}\n- ${L.service_fee} [brand ${calc.brand_used}]: ${fmtVnd(b.service_fee)}\n- ${L.physical_insurance}: ${fmtVnd(b.physical_insurance)}\n- **TỔNG GIÁ LĂN BÁNH ƯỚC TÍNH: ${fmtVnd(calc.total)}**\n\nGHI CHÚ:\n${calc.notes.map(n => '- ' + n).join('\\n')}`;\n}\n\n// =========================================================\n// HELPER 2: Load FAQ filtered by model + intent\n// =========================================================\nlet _faqCatalog = null;\nasync function loadFaqFiltered(modelSlug, intents, maxQ = 5) {\n  if (!modelSlug) return '';\n  try {\n    if (!_faqCatalog) {\n      const cat = await this.helpers.httpRequest({\n        method: 'GET',\n        url: base + 'wiki/faq/catalog.json',\n        json: true, returnFullResponse: false\n      });\n      _faqCatalog = (typeof cat === 'string' ? JSON.parse(cat) : cat);\n    }\n    let qs = (_faqCatalog.questions || []).filter(q => q.model_slug === modelSlug);\n    if (!qs.length) return '';\n    if (intents && intents.length) {\n      const matched = qs.filter(q => q.intents.some(i => intents.includes(i)));\n      if (matched.length) qs = matched;\n    }\n    qs = qs.slice(0, maxQ);\n    return '\\n\\n=== FAQ ĐÃ FILTER (model=' + modelSlug\n      + ', intents=[' + (intents || []).join(',') + '], '\n      + qs.length + ' câu) ===\\n'\n      + qs.map(q =>\n        `\\n**Q${q.qno}: ${q.question}**\\n_intents: ${q.intents.join(', ')}_\\n${q.answer}`\n      ).join('\\n\\n---\\n');\n  } catch (e) {\n    return `\\n[FAQ LỖI: ${e.message}]`;\n  }\n}\n\n// =========================================================\n// PROFILES\n// =========================================================\nconst PROFILES = {\n  detail: {\n    model: ['tóm tắt', 'phiên bản', 'màu sắc', 'khuyến mãi', 'trang bị nổi bật'],\n    faq_max_q: 5,\n    model_max_chars: 3500\n  },\n  shortlist_small: {\n    model: ['tóm tắt', 'phiên bản', 'khuyến mãi'],\n    faq_max_q: 3,\n    model_max_chars: 2000\n  },\n  shortlist_big: {},\n  compare_internal: {\n    model: ['tóm tắt', 'phiên bản', 'thông số', 'trang bị nổi bật', 'khuyến mãi'],\n    faq_max_q: 3,\n    model_max_chars: 3500\n  },\n  compare_external: {\n    model: ['tóm tắt', 'phiên bản', 'trang bị nổi bật'],\n    faq_max_q: 8,\n    model_max_chars: 3500\n  },\n  // SUB-MODES of SALES_LEAD\n  sub_consultation: {\n    model: ['tóm tắt', 'phiên bản', 'màu sắc', 'khuyến mãi'],\n    faq_max_q: 5,\n    model_max_chars: 2500\n  },\n  sub_pricing_finance: {\n    model: ['tóm tắt', 'phiên bản', 'khuyến mãi'],\n    faq_max_q: 3,\n    model_max_chars: 2000\n  },\n  sub_tech_specs: {\n    model: ['tóm tắt', 'thông số', 'trang bị nổi bật', 'khác biệt', 'màu sắc'],\n    faq_max_q: 4,\n    model_max_chars: 4500\n  },\n  sub_close_deal: {\n    model: ['tóm tắt'],\n    faq_max_q: 0,\n    model_max_chars: 800\n  }\n};\n\nlet mode = \"unknown\";\nlet files_used = [];\nlet shortlist = [];\nlet all_matches = [];\nlet bundle = '';\n\nfunction fullSlug(slug, brandHint) {\n  if (!slug) return '';\n  if (brandHint && !slug.startsWith(brandHint)) return `${brandHint}-${slug}`;\n  return slug;\n}\n\n// =========================================================\n// MODE ROUTING\n// =========================================================\nif (model_slug && compare_target) {\n  mode = \"compare_internal\";\n  const slug_a = fullSlug(model_slug, brand);\n  const slug_b = compare_target;\n  files_used.push(`wiki/models/${slug_a}.md`);\n  files_used.push(`wiki/models/${slug_b}.md`);\n\n} else if (model_slug && compare_with_brand && !THACO_BRANDS.includes(compare_with_brand)) {\n  mode = \"compare_external\";\n  const slug_a = fullSlug(model_slug, brand);\n  files_used.push(`wiki/models/${slug_a}.md`);\n\n} else if (model_slug) {\n  mode = \"detail\";\n  const slug_a = fullSlug(model_slug, brand);\n  files_used.push(`wiki/models/${slug_a}.md`);\n\n} else if (brand || car_type || seat_min || fuel || budget_max) {\n  let catalog;\n  try {\n    const raw = await this.helpers.httpRequest({\n      method: 'GET',\n      url: base + 'wiki/models/catalog.json',\n      json: true, returnFullResponse: false\n    });\n    catalog = (typeof raw === 'string' ? JSON.parse(raw) : raw).models || [];\n  } catch (e) { catalog = []; }\n\n  let filtered = catalog.filter(m => {\n    if (brand && (m.brand || \"\").toLowerCase() !== brand) return false;\n    if (car_type && !(m.car_type || \"\").toLowerCase().includes(car_type)) return false;\n    if (seat_min && Number(m.seat || 0) < seat_min) return false;\n    if (fuel) {\n      const f = (m.fuel || \"\").toLowerCase();\n      const fuelMap = {\n        'dầu': ['dầu', 'diesel'],\n        'xăng': ['xăng', 'petrol', 'gasoline'],\n        'hybrid': ['hybrid', 'hev'],\n        'phev': ['phev', 'hybrid'],\n        'ev': ['ev', 'điện']\n      };\n      if (!(fuelMap[fuel] || [fuel]).some(a => f.includes(a))) return false;\n    }\n    if (budget_max) {\n      const p = Number(m.price_min_vnd || 0);\n      const upper = budget_max * 1.05;\n      const lower = budget_max > 1_000_000_000 ? budget_max * 0.65 : 0;\n      if (p > upper) return false;\n      if (lower && p < lower) return false;\n    }\n    return true;\n  });\n\n  if (budget_max) {\n    filtered.sort((a, b) =>\n      Math.abs(Number(a.price_min_vnd || 0) - budget_max) -\n      Math.abs(Number(b.price_min_vnd || 0) - budget_max)\n    );\n  } else if (price_sort === 'desc') {\n    filtered.sort((a, b) => (b.price_max_vnd || b.price_min_vnd || 0) - (a.price_max_vnd || a.price_min_vnd || 0));\n  } else {\n    filtered.sort((a, b) => (a.price_min_vnd || 0) - (b.price_min_vnd || 0));\n  }\n\n  all_matches = filtered.slice();\n  shortlist = filtered.slice(0, price_sort ? 3 : 5);\n\n  if (shortlist.length === 0) {\n    mode = \"ask_more\";\n    bundle = `[KHÔNG có model nào khớp filter: brand=${brand}, type=${car_type}, seat>=${seat_min}, fuel=${fuel}, budget=${budget_max}]\\nGợi ý cho AI: xin lỗi khách, đề xuất nới 1 tiêu chí.`;\n  } else {\n    mode = shortlist.length <= 2 ? \"shortlist_small\" : \"shortlist_big\";\n    bundle = `=== SHORTLIST (${shortlist.length} xe khớp tiêu chí, total ${all_matches.length}) ===\\n`\n      + shortlist.map(m =>\n        `- ${m.name} (${m.car_type}${m.body_style_display ? '/' + m.body_style_display : ''}, ${m.seat} chỗ, ${m.fuel}) — Giá từ ${(m.price_min_vnd / 1e6).toFixed(0)} triệu — slug: ${m.slug}`\n      ).join('\\n');\n    if (mode === \"shortlist_small\") {\n      for (const m of shortlist) files_used.push(m.url);\n    }\n  }\n\n} else {\n  mode = \"ask_more\";\n  bundle = \"[Khách chưa đủ thông tin để filter. AI cần hỏi: thương hiệu? loại xe? số chỗ? ngân sách?]\";\n}\n\n// =========================================================\n// PROFILE OVERRIDE THEO SUB-CATEGORY\n// =========================================================\nlet profile = { ...(PROFILES[mode] || PROFILES.detail) };\n\nif ((mode === \"detail\" || mode === \"shortlist_small\") && d.category === \"SALES_LEAD\") {\n  const subProfileKey = `sub_${sales_subcategory}`;\n  if (PROFILES[subProfileKey]) {\n    Object.assign(profile, PROFILES[subProfileKey]);\n    mode = mode + \"_\" + sales_subcategory;\n  }\n}\n\n// =========================================================\n// FETCH model MD + TRIM\n// =========================================================\nfor (const f of files_used) {\n  try {\n    const data = await this.helpers.httpRequest({\n      method: 'GET', url: base + f, returnFullResponse: false\n    });\n    const raw = typeof data === 'string' ? data : JSON.stringify(data);\n    let trimmed;\n    if (mode === \"compare_external\") {\n      // So sánh với đối thủ ngoài THACO → chỉ có 1 file model THACO,\n      // cần đủ chỗ cho Tóm tắt + Phiên bản 1 đầy đủ của Trang bị nổi bật.\n      trimmed = extractCompareMd(raw);\n      if (trimmed.length > 4500) trimmed = trimmed.slice(0, 4500) + '\\n...[đã rút gọn]';\n    } else {\n      // Bao gồm compare_internal — dùng allowlist từ PROFILES.compare_internal\n      // (tóm tắt, phiên bản, thông số, trang bị nổi bật, khuyến mãi)\n      trimmed = trimMarkdown(\n        raw,\n        profile.model || ['tóm tắt', 'phiên bản', 'khuyến mãi'],\n        { maxChars: profile.model_max_chars || 3000 }\n      );\n    }\n    bundle += `\\n\\n=== FILE: ${f} ===\\n${trimmed}`;\n  } catch (e) { /* skip 404 */ }\n}\n\n// =========================================================\n// LOAD FAQ FILTERED\n// =========================================================\nif (mode.startsWith(\"detail\")) {\n  const slug_a = fullSlug(model_slug, brand);\n  bundle += await loadFaqFiltered.call(this, slug_a, qa_intents, profile.faq_max_q);\n} else if (mode.startsWith(\"shortlist_small\")) {\n  for (const m of shortlist) {\n    bundle += await loadFaqFiltered.call(this, m.slug, qa_intents, profile.faq_max_q);\n  }\n} else if (mode === \"compare_internal\") {\n  const slug_a = fullSlug(model_slug, brand);\n  bundle += await loadFaqFiltered.call(this, slug_a, [\"SO_SANH\"], profile.faq_max_q);\n  bundle += await loadFaqFiltered.call(this, compare_target, [\"SO_SANH\"], profile.faq_max_q);\n  bundle += `\\n\\n=== ĐANG SO SÁNH NỘI BỘ THACO ===\\nXe A: ${slug_a}\\nXe B: ${compare_target}\\nGợi ý: trình bày bullet trung thực, không thiên vị.`;\n} else if (mode === \"compare_external\") {\n  const slug_a = fullSlug(model_slug, brand);\n  bundle += await loadFaqFiltered.call(this, slug_a, [\"SO_SANH\"], profile.faq_max_q);\n  bundle += `\\n\\n=== ĐỐI THỦ KHÁCH NHẮC (NGOÀI THACO) ===\\nBrand đối thủ: ${compare_with_brand}\\nModel đối thủ: ${compare_with_model || '(không rõ)'}\\nXe THACO đang tư vấn: ${slug_a}\\nGợi ý: nêu điểm MẠNH của xe THACO bằng số liệu cụ thể từ FAQ. KHÔNG nói xấu đối thủ.`;\n}\n\n// =========================================================\n// ROLLING PRICE CALC — chạy khi sub_pricing_finance\n// → Tính bằng JS theo seat + brand thực, AI chỉ format\n// =========================================================\nif (sales_subcategory === \"pricing_finance\" && (mode.startsWith(\"detail\") || mode.startsWith(\"shortlist_small\"))) {\n  // Lấy danh sách xe + giá min + seat + brand để tính\n  let targets = [];\n\n  // Cần load catalog để lấy đủ thông tin (seat, brand, price)\n  let _catalog = [];\n  try {\n    const raw = await this.helpers.httpRequest({\n      method: 'GET', url: base + 'wiki/models/catalog.json',\n      json: true, returnFullResponse: false\n    });\n    _catalog = (typeof raw === 'string' ? JSON.parse(raw) : raw).models || [];\n  } catch (e) { }\n\n  if (mode.startsWith(\"detail\")) {\n    const slug_a = fullSlug(model_slug, brand);\n    const m = _catalog.find(x => x.slug === slug_a);\n    if (m) targets.push({\n      name: m.name,\n      price: m.price_min_vnd,\n      seat: m.seat,\n      brand: m.brand\n    });\n  } else if (mode.startsWith(\"shortlist_small\")) {\n    targets = shortlist.slice(0, 2).map(m => ({\n      name: m.name,\n      price: m.price_min_vnd,\n      seat: m.seat,\n      brand: m.brand\n    }));\n  }\n\n  for (const t of targets) {\n    if (!t.price) continue;\n    const calc = await calcRollingPrice.call(this, t.price, province, t.seat, t.brand);\n    bundle += formatRollingPriceBundle(t.name, calc);\n  }\n}\n\nconsole.log('BUNDLE LENGTH =', bundle.length);\nconsole.log('BUNDLE TAIL =', bundle.slice(-300));\n\nreturn [{\n  json: {\n    ...d,\n    mode,\n    shortlist,\n    all_matches,\n    files_used,\n    qa_intents,\n    sales_subcategory,\n    sales_turn_count,\n    should_capture_lead,\n    province_used: province,\n    price_sort,\n    context_bundle: bundle,\n    bundle_size: bundle.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        496
      ],
      "id": "f9b54046-9747-4556-91e0-4e9103d2b194",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==### [TIN NHẮN NGƯỜI DÙNG HIỆN TẠI]\n\"{{ $json.chatInput }}\"\n\n### [LỊCH SỬ 10 TURN GẦN NHẤT — dùng để hiểu khách nói cụt/tiếp nối]\n{{ ($json._prev.history || []).map((h, i) => `[${i+1}] User: \"${h.user}\"  →  intent=${h.intent}, brand=${h.brand || '—'}, model=${h.model || '—'}`).join('\\n') || '(chưa có lịch sử)' }}\n\n### [AI VỪA TRẢ LỜI Ở TURN NGAY TRƯỚC]\n\"{{ $json._prev.last_ai_reply || '—' }}\"\n\nHướng dẫn:\n- Khách nói cụt \"thế bản đó\", \"phiên bản đó\", \"loại đó\"... → đọc \"AI vừa trả lời\" để suy ra phiên bản/loại nào AI đã đề cập, gắn lại vào model_slug + chú thích trong qa_intents.\n- Khách hỏi \"tính năng nổi bật của phiên bản đó\" + AI vừa nhắc \"Signature 1.6T\" → vẫn extract model_slug = kia-sportage, qa_intents = [\"NOI_THAT\",\"NGOAI_THAT\"]\n- Nếu khách nói chủ đề rõ ràng → bỏ qua lịch sử cũ\n\n### [PHÂN LOẠI VÀ TRÍCH XUẤT]\n",
        "options": {
          "systemMessage": "=## Vai trò: AI Router & Entity Extractor cho hệ thống THACO AUTO (Kia, Mazda, Peugeot, BMW, MINI, Truck/Bus).\n## Nhiệm vụ: Phân tích [TIN NHẮN] và [LỊCH SỬ] để phân loại Category và trích xuất thông tin dòng xe.\n\n## Danh mục Category: \n- SALES_LEAD: Hỏi giá, thông số, E-catalog, khuyến mãi, trả góp, so sánh xe, đăng ký lái thử. \n- GREETING: Chào hỏi, tạm biệt, hỏi danh tính bot. \n- SAFETY_GUARD: Chửi thề, xúc phạm, nội dung nhạy cảm, chính trị hoặc quấy rối.\n- SERVICE_APPOINTMENT: Đặt lịch bảo dưỡng, sửa chữa, phụ tùng, chi phí dịch vụ xưởng \n- NETWORK_LOCATION: Tìm showroom, địa chỉ, hotline, giờ mở cửa chi nhánh. \n- CRITICAL_COMPLAINT: Khiếu nại, than phiền dịch vụ, thái độ nhân viên, E-survey tiêu cực. \n- POLICY_LEGAL: Chính sách bảo hành, thủ tục đăng ký xe, bảo hiểm, quy định pháp lý. \n- OUT_OF_SCOPE: Các chủ đề không liên quan đến ngành ô tô (thời tiết, tán gẫu, kiến thức chung). \n- AMBIGUOUS: Câu hỏi cụt ngủn hoặc mơ hồ, cần đối chiếu [LỊCH SỬ] để xác định lại 1 trong các nhóm trên.\n- TRADE_IN: Thu cũ đổi mới, lên đời xe, bán xe cũ cho THACO, định giá xe cũ.\n- BRAND_INFO: Hỏi thông tin thương hiệu (website, fanpage, mô tả ngắn về hãng, xuất xứ, lịch sử). KHÔNG kèm ý định mua model cụ thể.\n- RECRUITMENT: Tuyển dụng, tìm việc tại THACO, ứng tuyển, gửi CV, hỏi vị trí tuyển dụng.\n- URGENT_CONSULT: Khách yêu cầu gặp/gọi tư vấn viên ngay, xin số hotline,\"cho em số điện thoại sale\", \"kết nối nhân viên tư vấn\". KHÁC close_deal ở chỗ chưa chốt mua, chỉ muốn nói chuyện người thật.\n- COMPANY_CONTACT:  Hỏi thông tin LIÊN HỆ CÔNG TY THACO AUTO (không phải showroom):\nvăn phòng/trụ sở ở đâu, email CSKH, hotline tổng đài, số điện thoại công ty, fanpage chính thức của THACO AUTO.\n\n## Quy tắc trích xuất ENTITY:\n1. brand: Tên thương hiệu (kia | mazda | peugeot | bmw | mini). Lowercase. Nếu không có → \"\".\n2. model_slug: Nếu khách nhắc TÊN xe cụ thể (vd \"Sportage\", \"Carens\", \"K5\"). Riêng trường hợp BMW nếu có nói các dòng 320i,330i,430i,520i,... thì phải là để \"[3|4|5]-series\". Nếu hỏi đời mới nhất thì thêm \"-all-new\" Lowercase, không dấu, có dash. Nếu không có → \"\".\n3. car_type: Loại xe khách muốn: \"sedan\" | \"hatchback\" | \"suv\" | \"mpv\" | \"pickup\" | \"truck\" | \"bus\". Dùng khi khách mô tả nhu cầu (vd \"xe gầm cao\" → \"suv\", \"xe gia đình\" → null hoặc suv/mpv). Nếu không có → \"\". Ngoài ra LƯU Ý: BMW/MINI dùng \"SAV\"/\"SAC\"/\"Estate\" → vẫn map về \"suv\"; \"Cabriolet\" → \"convertible\".\n4. seat_min: Số chỗ tối thiểu khách cần (số nguyên: 4/5/7/8/9). Vd \"xe 7 chỗ\" → 7. Nếu không có → null.\n5. fuel: Loại nhiên liệu: \"xăng\" | \"dầu\" | \"hybrid\" | \"phev\" | \"ev\". Khách nói \"máy dầu\" → \"dầu\", \"lai điện\" → \"hybrid\". Nếu không có → \"\".\n6. budget_max: Ngân sách tối đa của khách (số VNĐ). Vd \"dưới 800 triệu\" → 800000000, \"tầm 1 tỷ\" → 1100000000 (cộng 10% buffer). Nếu không có → null.\n7. use_case: Mục đích sử dụng (1 cụm ngắn): gia_dinh | do_thi | di_tinh | kinh_doanh | khang_dinh_vi_the | tech_eco |null\n8. qa_intents: List intent của câu hỏi tư vấn sâu (chọn 1-3 trong list, hoặc [] nếu không có). Dùng cho Q&A filter, KHÁC với category routing chính.   \n   - SO_SANH: so sánh model/đối thủ/phiên bản, \"đáng mua không\", \"vì sao\"\n   - VAN_HANH: động cơ, hộp số, cách âm, cảm giác lái, đầm chắc, hộp số kép\n   - TIEU_HAO: tiết kiệm xăng/dầu, chi phí vận hành, hybrid lợi điểm\n   - NGOAI_THAT: form dáng, gầm, mâm, đèn, màu sắc, kích thước\n   - NOI_THAT: ghế, màn hình, âm thanh, điều hòa, cửa sổ trời\n   - AN_TOAN: ADAS, túi khí, camera, bảo hành, cảnh báo, phanh\n   - NHU_CAU: gia đình, dịch vụ, đi phố, đi tỉnh, công việc\n9. compare_with_brand: Nếu khách so sánh với xe HÃNG KHÁC (ngoài THACO AUTO).\n   Lowercase. Vd: \"toyota\" | \"honda\" | \"hyundai\" | \"ford\" | \"vinfast\" | \"nissan\" | \"mitsubishi\" | \"mg\" | \"chevrolet\" | \"suzuki\" | \"\"\n   Để \"\" nếu không có so sánh.\n\n10. compare_with_model: Tên xe được so sánh (giữ nguyên text khách nói).\n    Vd: \"Camry\", \"CR-V\", \"Tucson\", \"SantaFe\", \"VF8\", \"\"\n    KHÔNG normalize thành slug — chỉ lưu tên gốc khách nhắc.\n\n11. compare_target: Nếu so sánh với xe NỘI BỘ THACO (Kia vs Mazda, Sportage vs Sorento...).\n    Trả về model_slug HỢP LỆ giống field model_slug. Để \"\" nếu không.\n    Vd khách: \"So sánh Sportage và CX-5\" → model_slug=\"kia-sportage\", compare_target=\"mazda-cx-5\"\n12. sales_subcategory: Sub-category trong SALES_LEAD (chỉ áp dụng khi category=SALES_LEAD).\n    Chọn 1 giá trị:\n    - \"consultation\"     → Tư vấn chọn xe, so sánh model/đối thủ, \"có nên mua\", \"phù hợp không\", hỏi tình trạng xe (có sẵn, tồn kho, giao ngay, ký chờ, màu nào còn hàng, bao lâu có xe)\n    - \"pricing_finance\"  → Hỏi GIÁ LĂN BÁNH, mua trả góp, vay ngân hàng, lãi suất, khuyến mãi, chiết khấu, phí trước bạ\n    - \"tech_specs\"       → Hỏi sâu thông số, nội/ngoại thất, màu sắc, động cơ, hộp số, ADAS, an toàn, cách â\n    - \"close_deal\"       → Đặt lịch LÁI THỬ, đặt cọc, MUA xe, \"em đặt 1 chiếc\"\n    - Mặc định: \"consultation\"\n13. price_sort: Nếu khách muốn tìm xe theo giá. \"asc\" (rẻ nhất, thấp nhất), \"desc\" (đắt nhất, cao nhất, mắc nhất). Nếu không có -> null.\n\n\n## Yêu cầu kỹ thuật:\n- Chỉ trả về duy nhất định dạng JSON. Không giải thích, không dùng ký tự markdown (```)\n\n## Định dạng Output (BẮT BUỘC JSON):\n{\"category\":\"NAME\",\"sales_subcategory\":\"\",\"brand\":\"\",\"model_slug\":\"\",\"car_type\":\"\",\"seat_min\":null,\"fuel\":\"\",\"budget_max\":null,\"use_case\":null,\"qa_intents\":[],\"compare_with_brand\":\"\",\"compare_with_model\":\"\",\"compare_target\":\"\",\"price_sort\":null, \"status\":true}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2000,
        1088
      ],
      "id": "39ef116c-e9b1-494e-b60a-355d3e1a191c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2032,
        1296
      ],
      "id": "a51f4479-4881-4325-ab57-14e0abfb17cb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NORMALIZE ENTITIES — Validate AI output against vocab.json from GitHub\nconst VOCAB_URL = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/wiki/models/vocab.json';\n\nlet vocab;\ntry {\n  vocab = await this.helpers.httpRequest({ method: 'GET', url: VOCAB_URL, json: true, returnFullResponse: false });\n  if (typeof vocab === 'string') vocab = JSON.parse(vocab);\n} catch (e) {\n  // Fail-open: nếu vocab không tải được thì pass-through (đừng chặn cả pipeline)\n  return [{ json: { ...$input.first().json, _vocab_error: e.message } }];\n}\n\nconst d = $input.first().json;\n\n// Helper: lookup giá trị qua synonym map → trả canonical key, hoặc null\nfunction lookupSynonym(value, dict) {\n  if (!value) return null;\n  const v = value.toString().toLowerCase().trim();\n  if (!dict || !dict.synonyms) return null;\n\n  // 1. Direct match canonical key\n  for (const canon of Object.keys(dict.synonyms)) {\n    if (canon.toLowerCase() === v) return canon;\n  }\n  // 2. Match trong list synonym (exact)\n  for (const [canon, syns] of Object.entries(dict.synonyms)) {\n    if (syns.some(s => s.toLowerCase() === v)) return canon;\n  }\n  // 3. Partial match (substring) — nới lỏng cho text dài\n  for (const [canon, syns] of Object.entries(dict.synonyms)) {\n    if (syns.some(s => v.includes(s.toLowerCase()) || s.toLowerCase().includes(v))) return canon;\n  }\n  return null;\n}\n\n// Helper: validate model_slug có trong list không\nfunction validateSlug(slug, validList) {\n  if (!slug) return null;\n  const s = slug.toString().toLowerCase().trim().replace(/\\s+/g, '-');\n\n  // 1. Exact match\n  if (validList.includes(s)) return s;\n\n  // 2. Thử ghép brand prefix: \"carens\" + brand=\"kia\" → \"kia-carens\"\n  if (d.brand) {\n    const guess = `${d.brand.toLowerCase()}-${s}`;\n    if (validList.includes(guess)) return guess;\n  }\n\n  // 3. Partial match có dash boundary: \"cx-3\" → \"mazda-cx-3\"\n  const candidates = validList.filter(v => {\n    if (d.brand && !v.startsWith(d.brand.toLowerCase() + '-')) return false;\n    return v.endsWith('-' + s) || v === s || v.includes('-' + s + '-');\n  });\n  if (candidates.length === 1) return candidates[0];\n  if (candidates.length > 1) {\n    return candidates.sort((a, b) => a.length - b.length)[0];\n  }\n\n  // 4. ⭐ MỚI — Strip-dash compare: \"cx3\" → \"mazdacx3\" → so với \"mazda-cx-3\" → \"mazdacx3\" ✅\n  //    Áp dụng cho TẤT CẢ slug viết liền không dash (cx3, cx30, mx5, k5...)\n  const stripDash = (x) => x.replace(/-/g, '');\n  const sStripped = stripDash(s);\n\n  const fuzzyCandidates = validList.filter(v => {\n    if (d.brand && !v.startsWith(d.brand.toLowerCase() + '-')) return false;\n    const vStripped = stripDash(v);\n    // EXACT strip match: \"cx3\" === \"mazdacx3\"? Không, nhưng endsWith mới đúng\n    // endsWith match: \"mazdacx3\".endsWith(\"cx3\") ✅; \"mazdacx30\".endsWith(\"cx3\") ❌\n    return vStripped === sStripped || vStripped.endsWith(sStripped);\n  });\n\n  if (fuzzyCandidates.length === 1) return fuzzyCandidates[0];\n  if (fuzzyCandidates.length > 1) {\n    // Ưu tiên slug ngắn hơn (cụ thể hơn): \"cx3\" → \"mazda-cx-3\" thắng \"mazda-cx-30\"\n    return fuzzyCandidates.sort((a, b) => a.length - b.length)[0];\n  }\n\n  return null;\n}\n\n\n// Validate seat_min: phải là số nguyên trong canonical\nfunction validateSeat(value, allowed) {\n  if (value === null || value === undefined || value === '') return null;\n  const n = Number(value);\n  if (!Number.isFinite(n)) return null;\n  // Cho phép giá trị nhỏ hơn min canonical (vd khách hỏi \"4 chỗ\" nhưng catalog chỉ có từ 5)\n  // Nhưng giới hạn trong khoảng hợp lý 2-16\n  return (n >= 2 && n <= 16) ? n : null;\n}\n\n// Normalize tất cả entity\nconst normalized = {\n  brand:      lookupSynonym(d.brand, vocab.brand),\n  car_type:   lookupSynonym(d.car_type, vocab.car_type),\n  fuel:       lookupSynonym(d.fuel, vocab.fuel),\n  use_case:   lookupSynonym(d.use_case, vocab.use_case),\n  seat_min:   validateSeat(d.seat_min, vocab.seat?.canonical || []),\n  model_slug: validateSlug(d.model_slug, vocab.model_slugs || []),\n  compare_target: validateSlug(d.compare_target, vocab.model_slugs || []),\n};\n\n// Track giá trị AI bịa (để review & bổ sung synonym sau)\nconst unknown = {};\nfor (const [k, originalRaw] of Object.entries({\n  brand: d.brand, car_type: d.car_type, fuel: d.fuel,\n  use_case: d.use_case, model_slug: d.model_slug\n})) {\n  if (originalRaw && !normalized[k]) {\n    unknown[k] = originalRaw;\n  }\n}\n\nreturn [{\n  json: {\n    ...d,\n    ...normalized,\n    budget_max: d.budget_max ? Number(d.budget_max) : null,  // numeric, không cần normalize\n    _unknown: Object.keys(unknown).length ? unknown : null,\n    _normalized_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1120
      ],
      "id": "c45d0172-6dc5-4e5c-8fc2-2f0ab21d9fd7",
      "name": "Normalize Entities"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nlet rawText = input.output || input.text || input.response ||\n              (input.content?.parts?.[0]?.text) || (input.message?.content) || \"\";\n\nconst router = $('xu_ly_category').first().json;\n\ntry {\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error(\"Không tìm thấy JSON\");\n  const p = JSON.parse(jsonMatch[0]);\n  return [{\n    json: {\n      category: router.category,\n      province: (p.province || \"\").toLowerCase().trim(),\n      showroom_name: (p.showroom_name || \"\").trim(),\n      brand: (p.brand || router.brand || \"\").toLowerCase().trim(),\n      user_location: (p.user_location || \"\").trim(),\n      status: true\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      category: router.category,\n      province: \"\", showroom_name: \"\", brand: router.brand || \"\",\n      user_location: \"\",\n      status: false,\n      _error: e.message,\n      _raw_debug: rawText.substring(0, 200)\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        800
      ],
      "id": "6cd9f1c0-ed96-4938-849b-4021000bf296",
      "name": "xu_ly_location1"
    },
    {
      "parameters": {
        "jsCode": "// DEALER LOOKUP — 6 mode + fallback URL ở mode không có kết quả:\n//  1. area_overview          → khách hỏi tên KHU VỰC → liệt kê TẤT CẢ showroom + tổng quan brand\n//  2. specific_found         → khách hỏi đích danh 1 showroom → trả info chi tiết\n//  3. specific_not_found     → match 0 showroom (kèm fallback URL)\n//  4. nearest_by_location    → khách hỏi \"gần nhất từ <vị trí>\" → haversine sort, top 3\n//  5. province_link          → khách hỏi chung theo tỉnh → trả URL\n//  6. ask_province           → khách chưa nói gì → hỏi khu vực\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\nconst FALLBACK_URL = 'https://thacoautotphcm.vn/showrooms';\nconst MAX_DISTANCE_KM = 150; // Ngưỡng coi là 'quá xa' — vượt vùng phủ dữ liệu hiện tại (HCM + lân cận)\n\nconst province      = (d.province || \"\").toLowerCase().trim();\nconst showroom_name = (d.showroom_name || \"\").toLowerCase().trim();\nconst brand         = (d.brand || \"\").toLowerCase().trim();\nconst user_location = (d.user_location || \"\").trim();\n\nlet mode = \"ask_province\";\nlet bundle = '';\nlet matched_showrooms = [];\nlet province_url = null;\nlet user_coords = null;\nlet fallback_url = FALLBACK_URL;\n\nconst PASSENGER_BRANDS = ['kia', 'mazda', 'peugeot', 'bmw', 'mini'];\nfunction brandMatches(showroom, b) {\n  if (!b) return true;\n  const slugs = showroom.brand_slugs || [];\n  // Exact match — KHÔNG dùng includes() vì 'kia-frontier'.includes('kia') sẽ kéo nhầm xe tải\n  if (!slugs.includes(b)) return false;\n  // Brand xe du lịch → chỉ lấy showroom oto, loại tai/bus\n  if (PASSENGER_BRANDS.includes(b) && showroom.type_showroom && showroom.type_showroom !== 'oto') return false;\n  return true;\n}\n\n\nasync function fetchCatalog() {\n  const cat = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + 'wiki/dealers/catalog.json',\n    json: true,\n    returnFullResponse: false\n  });\n  return (typeof cat === 'string') ? JSON.parse(cat) : cat;\n}\n\nfunction haversineKm(lat1, lon1, lat2, lon2) {\n  const R = 6371;\n  const toRad = x => x * Math.PI / 180;\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat/2)**2 +\n            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) * Math.sin(dLon/2)**2;\n  return 2 * R * Math.asin(Math.sqrt(a));\n}\n\nasync function geocodeUserLocation(addr) {\n  const q = /vietnam|việt nam/i.test(addr) ? addr : (addr + \", Việt Nam\");\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://nominatim.openstreetmap.org/search',\n      qs: { format: 'json', q, limit: 1 },\n      headers: { 'User-Agent': 'thacoauto-chatbot/1.0 (contact: phogotarot@gmail.com)' },\n      json: true,\n      returnFullResponse: false\n    });\n    const arr = (typeof res === 'string') ? JSON.parse(res) : res;\n    if (Array.isArray(arr) && arr.length) {\n      return {\n        lat: parseFloat(arr[0].lat),\n        lon: parseFloat(arr[0].lon),\n        display_name: arr[0].display_name || \"\"\n      };\n    }\n  } catch (e) {}\n  return null;\n}\n\nfunction norm(s) { return (s || \"\").toLowerCase().trim().replace(/\\s+/g, ' '); }\nfunction tokens(s) { return norm(s).split(/[\\s\\-,]+/).filter(Boolean); }\nfunction scoreMatch(title, query) {\n  const t = norm(title);\n  const q = norm(query);\n  if (!t || !q) return 0;\n  if (t === q) return 100;\n  const qPattern = new RegExp(`(^|\\\\s)${q.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}(\\\\s|$)`);\n  if (qPattern.test(t)) return 80;\n  const tPattern = new RegExp(`(^|\\\\s)${t.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}(\\\\s|$)`);\n  if (tPattern.test(q)) return 60;\n  const qTok = tokens(q);\n  const tTokSet = new Set(tokens(t));\n  if (qTok.length && qTok.every(w => tTokSet.has(w))) return 40;\n  return 0;\n}\n\ntry {\n  // ============================================\n  // 1. SHOWROOM ĐÍCH DANH / KHU VỰC\n  // ============================================\n  if (showroom_name) {\n    const data = await fetchCatalog.call(this);\n\n    const scored = (data.showrooms || [])\n      .map(s => ({ s, score: scoreMatch(s.title, showroom_name) }))\n      .filter(x => x.score > 0)\n      .sort((a, b) => b.score - a.score);\n\n    let matches = [];\n    if (scored.length) {\n      const bestScore = scored[0].score;\n      matches = scored.filter(x => x.score === bestScore).map(x => x.s);\n    }\n\n    if (brand && matches.length > 1) {\n      const filtered = matches.filter(s => brandMatches(s, brand));\n      if (filtered.length) matches = filtered;\n    }\n\n    matched_showrooms = matches;\n\n    if (matches.length === 0) {\n      mode = \"specific_not_found\";\n      bundle = `[KHÔNG tìm thấy showroom \"${d.showroom_name}\" trong hệ thống.\nURL TRA CỨU TỰ HELP: ${FALLBACK_URL}\nGợi ý cho AI: xin lỗi khách, đính kèm URL tra cứu, đề xuất gọi hotline 1900 545 591.]`;\n    } else if (matches.length === 1) {\n      mode = \"specific_found\";\n      const f = matches[0];\n      bundle = `=== SHOWROOM: ${f.title} ===\n- Thương hiệu: ${f.brands.join(', ')}\n- 📍 Địa chỉ: ${f.address.full}\n- 📞 Bán hàng: ${f.phone_sale || '—'}\n- 📞 Dịch vụ: ${f.phone_service || '—'}\n- 🏷 Dịch vụ cung cấp: ${f.services.join(', ')}\n- 🗺 Maps: ${f.map_url || '—'}\n- 🌐 Website: ${f.website || '—'}`;\n    } else {\n      mode = \"area_overview\";\n      const allBrands = [...new Set(matches.flatMap(s => s.brands || []))].sort();\n      const areaName = d.showroom_name;\n      const sampleAddr = matches[0].address || {};\n      const ward = sampleAddr.ward ? `Phường ${sampleAddr.ward}` : '';\n      const city = sampleAddr.province || '';\n      bundle = `=== TỔNG QUAN KHU VỰC: ${areaName.toUpperCase()} ===\n- Vị trí: ${[ward, city].filter(Boolean).join(', ') || '—'}\n- Số showroom trong khu vực: ${matches.length}\n- Tất cả thương hiệu có mặt: ${allBrands.join(', ')}\n\n=== CHI TIẾT TỪNG SHOWROOM ===\n${matches.map(s => `\n**${s.title}**\n- Thương hiệu: ${s.brands.join(', ')}\n- 📍 ${s.address.full}\n- 📞 Bán hàng: ${s.phone_sale || '—'} | Dịch vụ: ${s.phone_service || '—'}\n- 🏷 ${s.services.join(', ')}\n- 🗺 ${s.map_url || '—'}`).join('\\n\\n---\\n')}`;\n    }\n\n  // ============================================\n  // 2. NEAREST BY LOCATION\n  // ============================================\n  } else if (user_location) {\n    const data = await fetchCatalog.call(this);\n\n    user_coords = await geocodeUserLocation.call(this, user_location);\n\n    if (!user_coords) {\n      mode = \"nearest_no_geocode\";\n      bundle = `[Không xác định được toạ độ cho vị trí \"${user_location}\".\nURL TRA CỨU TỰ HELP: ${FALLBACK_URL}\nGợi ý cho AI: hỏi lại khách quận/phường cụ thể hơn HOẶC gửi URL trên + hotline 1900 545 591 để khách tự tra.]`;\n    } else {\n      let candidates = (data.showrooms || []).filter(s =>\n        typeof s.lat === 'number' && typeof s.lon === 'number'\n      );\n      if (brand) {\n        candidates = candidates.filter(s => brandMatches(s, brand));\n      }\n\n      // Tính distance trước, lọc theo threshold rồi mới rank\n      const allRanked = candidates\n        .map(s => ({ ...s, distance_km: haversineKm(user_coords.lat, user_coords.lon, s.lat, s.lon) }))\n        .sort((a, b) => a.distance_km - b.distance_km);\n\n      const nearestKm = allRanked.length ? allRanked[0].distance_km : null;\n      const inRange = allRanked.filter(s => s.distance_km <= MAX_DISTANCE_KM);\n\n      if (!candidates.length) {\n        mode = \"nearest_no_match\";\n        bundle = `[Không có showroom nào${brand ? ` của thương hiệu ${brand.toUpperCase()}` : ''} có toạ độ trong dữ liệu.\nURL TRA CỨU TỰ HELP: ${FALLBACK_URL}\nGợi ý cho AI: xin lỗi khách, gửi URL trên để khách tự tìm + hotline 1900 545 591.]`;\n      } else if (!inRange.length) {\n        // ⚠ Tất cả showroom đều > MAX_DISTANCE_KM → ngoài vùng phủ\n        mode = \"nearest_too_far\";\n        matched_showrooms = [];  // KHÔNG trả showroom xa cho AI để khỏi bị render\n        bundle = `[Khu vực \"${user_location}\" CHƯA NẰM TRONG VÙNG PHỦ DỮ LIỆU. Showroom${brand ? ` ${brand.toUpperCase()}` : ''} gần nhất cũng cách ~${nearestKm.toFixed(0)} km (vượt ngưỡng ${MAX_DISTANCE_KM} km).\nLÝ DO: dữ liệu showroom hiện tại của em chỉ đầy đủ cho cụm Hồ Chí Minh và các tỉnh lân cận (Bình Dương, Bà Rịa-Vũng Tàu, Tây Ninh). Các tỉnh xa hơn (Phú Yên, Khánh Hoà, Đà Nẵng, Cần Thơ, miền Bắc...) thư viện chưa cập nhật đầy đủ.\nURL TRA CỨU TOÀN QUỐC: ${FALLBACK_URL}\nGợi ý cho AI:\n1. Xin lỗi chân thành, nói RÕ \"dữ liệu chưa phủ vùng đó\".\n2. TUYỆT ĐỐI KHÔNG liệt kê showroom 300-400km.\n3. Đính kèm URL trên để khách tự tra danh sách showroom toàn quốc.\n4. Mời gọi hotline 1900 545 591.]`;\n      } else {\n        const ranked = inRange.slice(0, 3);\n        matched_showrooms = ranked;\n        mode = \"nearest_by_location\";\n\n        const brandLabel = brand ? brand.toUpperCase() : 'tất cả thương hiệu';\n        bundle = `=== SHOWROOM ${brandLabel} GẦN NHẤT TỪ \"${user_location}\" ===\nToạ độ khách: lat=${user_coords.lat.toFixed(5)}, lon=${user_coords.lon.toFixed(5)}\nTham chiếu OSM: ${user_coords.display_name}\n\nTop ${ranked.length} showroom gần nhất (theo đường chim bay):\n\n${ranked.map((s, i) => `\n**${i + 1}. ${s.title}** — cách ~${s.distance_km.toFixed(1)} km\n- Thương hiệu: ${s.brands.join(', ')}\n- 📍 ${s.address.full}\n- 📞 Bán hàng: ${s.phone_sale || '—'} | Dịch vụ: ${s.phone_service || '—'}\n- 🏷 ${(s.services || []).join(', ')}\n- 🗺 ${s.map_url || '—'}`).join('\\n\\n---\\n')}\n\nLưu ý: khoảng cách là đường chim bay (haversine), thực tế đi đường có thể dài hơn.`;\n      }\n    }\n\n  // ============================================\n  // 3. PROVINCE LINK\n  // ============================================\n  } else if (province) {\n    const data = await fetchCatalog.call(this);\n    province_url = (data.province_urls || {})[province] || null;\n\n    if (province_url) {\n      mode = \"province_link\";\n      bundle = `=== KHÁCH HỎI CHUNG SHOWROOM TẠI: ${province} ===\nURL chính thức: ${province_url}\nBrand quan tâm: ${brand || 'tất cả'}`;\n    } else {\n      mode = \"province_no_link\";\n      bundle = `[Chưa có URL website riêng cho tỉnh \"${province}\".\nURL TRA CỨU TỰ HELP (HCM): ${FALLBACK_URL}\nGợi ý cho AI: gửi URL trên để khách lọc theo tỉnh, kèm hotline 1900 545 591.]`;\n    }\n\n  // ============================================\n  // 4. ASK PROVINCE\n  // ============================================\n  } else {\n    mode = \"ask_province\";\n    bundle = `[Khách hỏi chung \"showroom\" nhưng chưa nói khu vực hay tên cụ thể.\nGợi ý cho AI: hỏi lịch sự \"Anh/Chị đang ở tỉnh/thành hoặc khu vực nào ạ?\"\nCó thể đính kèm URL tra cứu để khách tự xem trước: ${FALLBACK_URL}]`;\n  }\n\n} catch (e) {\n  bundle = `[LỖI: ${e.message}.\nURL TRA CỨU TỰ HELP: ${FALLBACK_URL}\nHướng dẫn khách gọi hotline 1900 545 591.]`;\n  mode = \"error\";\n}\n\nreturn [{\n  json: {\n    ...d,\n    mode,\n    matched_showrooms,\n    matched_count: matched_showrooms.length,\n    province_url,\n    user_coords,\n    fallback_url,\n    context_bundle: bundle\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        800
      ],
      "id": "43246618-cc49-486b-b8f3-6a752d26f2da",
      "name": "Code in Javescript 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==### [TIN NHẮN KHÁCH]\n\"{{ $('Webhook').item.json.chatInput }}\"\n\n### [JSON]\n",
        "options": {
          "systemMessage": "=## Vai trò: AI extract entity cho hệ thống tìm showroom THACO AUTO.\n## CHỈ trả về JSON thuần, KHÔNG markdown, KHÔNG giải thích.\n\n## Quy tắc trích xuất:\n\n1. province (tỉnh/thành — lowercase, dash, không dấu):\n   \"ho-chi-minh\" | \"ha-noi\" | \"da-nang\" | \"binh-duong\" | \"ba-ria-vung-tau\" | \"tay-ninh\" | \"can-tho\" | \"\"\n   - \"Sài Gòn\" / \"TP.HCM\" / \"HCM\" → \"ho-chi-minh\"\n   - \"HN\" / \"Thủ đô\" → \"ha-noi\"\n   - Để \"\" nếu khách không nhắc\n\n2. showroom_name (tên showroom đích danh khách hỏi — chuỗi text gốc):\n   - Khách nói \"BMW Sala\", \"Kia Phú Mỹ Hưng\", \"Mazda Trường Chinh\" → giữ nguyên\n   - Để \"\" nếu khách hỏi chung chung kiểu \"showroom Kia ở đâu\"\n\n3. brand (lowercase):\n   \"kia\" | \"mazda\" | \"peugeot\" | \"bmw\" | \"mini\" | \"thaco-truck\" | \"thaco-bus\" | \"\"\n\n4. user_location (vị trí HIỆN TẠI của khách, để tìm showroom gần nhất — chuỗi text gốc, chỉ điền khi rõ ý \"gần nhất / gần đây / quanh đây / từ X đến đâu\"):\n   - Khách nói \"Nhà em ở quận 3, showroom Kia nào gần nhất?\" → \"Quận 3, Thành phố Hồ Chí Minh\"\n   - \"Em đang ở Thủ Đức\" → \"Thủ Đức, Thành phố Hồ Chí Minh\"\n   - \"Từ ngã tư Hàng Xanh tới đâu gần nhất\" → \"Ngã tư Hàng Xanh, Thành phố Hồ Chí Minh\"\n   - Tự thêm hậu tố tỉnh/thành nếu khách chỉ nói tên quận/phường (mặc định: Thành phố Hồ Chí Minh nếu không có manh mối khác).\n   - Để \"\" nếu khách chỉ hỏi địa chỉ 1 showroom cụ thể, KHÔNG hỏi \"gần nhất\".\n\n## Định dạng Output BẮT BUỘC:\n{\"province\":\"\",\"showroom_name\":\"\",\"brand\":\"\",\"user_location\":\"\"}\n\n## Ví dụ:\n- \"Showroom Kia ở Sài Gòn\" → {\"province\":\"ho-chi-minh\",\"showroom_name\":\"\",\"brand\":\"kia\",\"user_location\":\"\"}\n- \"Cho em địa chỉ BMW Sala\" → {\"province\":\"\",\"showroom_name\":\"BMW Sala\",\"brand\":\"bmw\",\"user_location\":\"\"}\n- \"Tôi muốn xem showroom\" → {\"province\":\"\",\"showroom_name\":\"\",\"brand\":\"\",\"user_location\":\"\"}\n- \"Nhà em ở quận 3, showroom Kia nào gần nhất?\" → {\"province\":\"\",\"showroom_name\":\"\",\"brand\":\"kia\",\"user_location\":\"Quận 3, Thành phố Hồ Chí Minh\"}\n- \"Em đang ở Bình Thạnh, gần showroom Mazda nào?\" → {\"province\":\"\",\"showroom_name\":\"\",\"brand\":\"mazda\",\"user_location\":\"Bình Thạnh, Thành phố Hồ Chí Minh\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        640
      ],
      "id": "5c67260a-995e-4498-b01d-079e2bd265a6",
      "name": "AI Agent - Location Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### [TRẠNG THÁI HỘI THOẠI]\n{{ ($('parse_session').first().json._prev.history || []).length === 0 ? '👋 TURN ĐẦU — được phép chào hỏi 1 lần.' : '⚠️ TURN TIẾP THEO (#' + (($('parse_session').first().json._prev.history || []).length + 1) + ') — TUYỆT ĐỐI KHÔNG chào lại.' }}\n- Sub-category: {{ $json.sales_subcategory }}\n- Số turn SALES_LEAD đã hỏi: {{ $json.sales_turn_count }} (should_capture_lead: {{ $json.should_capture_lead }})\n\n### [NGỮ CẢNH TURN TRƯỚC — dùng để hiểu nếu khách nói cụt/tiếp nối]\n- Câu hỏi gần nhất: \"{{ $('parse_session').item.json._prev.last_user_msg || '(chưa có)' }}\"\n- Intent turn trước: {{ (($('parse_session').first().json._prev.history || []).slice(-1)[0]?.intent) || '—' }}\n- AI vừa trả lời (đuôi 200 chars — phần gợi mở/CTA): \"{{ ($('parse_session').first().json._prev.last_ai_reply || '—') }}\"\n\n\nHãy dựa trên Persona để phản hồi:\n\n### [CÂU HỎI HIỆN TẠI]\n\"{{ $('When chat message received3').item.json.chatInput }}\"\n\n### [THÔNG TIN HỆ THỐNG]\n- Mode trả lời: {{ $json.mode }}\n- Thương hiệu: {{ $json.brand || \"Chung\" }}\n- Loại xe: {{ $json.car_type || \"—\" }}\n- Số chỗ tối thiểu: {{ $json.seat_min || \"—\" }}\n- Nhiên liệu: {{ $json.fuel || \"—\" }}\n- Ngân sách max: {{ $json.budget_max || \"—\" }}\n\n### [DỮ LIỆU TRI THỨC - CONTEXT_BUNDLE]\n{{ $json.context_bundle }}\n",
        "options": {
          "systemMessage": "=# ROLE\nChuyên viên tư vấn ảo THACO AUTO. Dùng [CONTEXT_BUNDLE] để trả lời chính xác.\n\n# XƯNG HÔ\n\"Em\" – \"Anh/Chị\".\n\n# 5 MODE (xem field \"mode\")\n\n▸ detail → 1 xe cụ thể: trả sâu giá/thông số/ưu điểm từ FILE.\n\n▸ shortlist_small / shortlist_big → nhiều xe khớp filter:\n   bullet ngắn (tên → loại / chỗ / nhiên liệu / giá), gợi 1-2 xe nổi bật, mời chọn 1 xe để tư vấn sâu.\n\n▸ compare_internal (so sánh 2 xe NỘI BỘ THACO) — TRUNG THỰC, không thiên vị:\n   **🚗 Xe A — [Tên]**\n   - Phân khúc / Chỗ / Động cơ / Giá từ / Điểm nổi bật\n   \n   **🚗 Xe B — [Tên]**  \n   - (cùng cấu trúc)\n   \n   **💡 Gợi ý:** Ưu tiên X → chọn A; ưu tiên Y → chọn B.\n   Cuối: mời lái thử cả 2.\n\n▸ compare_external (so THACO vs đối thủ ngoài) — TRÁNH chê đối thủ:\n   - KHÔNG ĐƯỢC ĐÀO SÂU THÔNG TIN XE CHI TIẾT CỦA ĐỐI THỦ, CHỈ TẬP TRUNG XE THUỘC THACO AUTO (được phép trả lời thông tin rất cơ bản của đối thủ)\n   - Mở: \"Cả [đối thủ] và [xe THACO] đều là lựa chọn tốt...\"\n   - **🌟 Điểm nổi bật của [xe THACO]:** 4-6 bullet kèm SỐ LIỆU/giải thưởng cụ thể từ FAQ\n   - KHÔNG dùng từ tiêu cực (kém/tệ/lỗi thời/thua xa)\n   - KHÔNG bịa thông số đối thủ\n\n   - Cuối: mời lái thử + hotline\n\n▸ ask_more → thiếu info: hỏi khéo, đưa CHỌN LỰA cụ thể (vd \"sedan thanh lịch hay SUV gầm cao?\"), không hỏi mở.\n\n# SUB-MODE của SALES_LEAD (xem field \"sales_subcategory\")\n\n▸ consultation (mặc định) → Tư vấn theo logic detail/shortlist/compare đã định.\n\n▸ pricing_finance → Giá lăn bánh & trả góp:\n  - Lấy giá NIÊM YẾT từ CONTEXT.\n  - Tính giá lăn bánh ước tính theo TEMPLATE trong CONTEXT (12% trước bạ + biển + bảo hiểm + đăng kiểm).\n  - Nếu khách hỏi trả góp → tính ví dụ 2-3 phương án (trả trước 20%/30%/50%, kỳ hạn 60/72/84 tháng).\n  - LUÔN nhắc: \"Đây là ước tính. Báo giá chính xác do showroom thực hiện sau khi tư vấn.\"\n  - Định dạng BULLET, đẩy lead capture SỚM (sau 1-2 turn vì khách đã quan tâm tài chính = sắp mua).\n\n▸ tech_specs → Thông số / Nội ngoại thất / ADAS:\n  - Trả lời SÂU theo CONTEXT (CONTEXT đã được mở rộng để chứa nhiều spec).\n  - Bullet đa cấp, có emoji highlight (⚙️ động cơ, 🛡️ an toàn, 🪑 nội thất, 🎨 ngoại thất, 📺 công nghệ).\n  - Tránh dump nguyên bảng — chọn 4-6 điểm quan trọng nhất theo qa_intents.\n  - KHÔNG ép lead capture (khách đang research, để khách tự đến).\n\n▸ close_deal → Chốt sale / Lái thử:\n  - BẮT BUỘC xin: Họ tên, SĐT, Mẫu xe quan tâm, Showroom thuận tiện, Ngày/giờ mong muốn.\n  - Nếu khách đã cho 1 vài thông tin → xác nhận lại + xin phần còn thiếu.\n  - Format BULLET dạng form điền:\n    - Họ tên: ___\n    - SĐT: ___\n    - ...\n  - Hứa: \"Chuyên viên Sale sẽ liên hệ trong 1-2h làm việc.\"\n  - Hotline: 1900 56 5499.\n\n# LEAD CAPTURE TRIGGER\nNếu User Message có \"should_capture_lead = true\" → ở CUỐI reply (sau CTA), thêm 1 câu khéo:\n\"Để em hỗ trợ chi tiết hơn, Anh/Chị có thể để lại SĐT — chuyên viên Sale sẽ liên hệ tư vấn cụ thể giá lăn bánh và chương trình hỗ trợ tốt nhất tại khu vực Anh/Chị nhé?\"\nKHÔNG ép buộc, chỉ là gợi ý lịch sự.\n\n# TONE theo BRAND\nKIA/MAZDA: thân thiện, hiện đại | BMW/PEUGEOT/MINI: sang trọng | TRUCK/BUS: tin cậy, thực tế.\n\n# QUY TẮC CỨNG\n1. **LUÔN dùng BULLET, KHÔNG dùng bảng markdown** (widget chatbot không render bảng).\n2. CHỈ dùng số trong CONTEXT, KHÔNG bịa.\n3. CONTEXT có \"[KHÔNG khớp]\" → xin lỗi + gợi nới 1 tiêu chí. CONTEXT trống → xin SĐT khách.\n4. Giá VNĐ giữ format \"999.000.000 ₫\".\n5. KHÔNG in wikilink [[...]].\n6. Cuối: 1 CTA cụ thể (lái thử / báo giá lăn bánh / ghé showroom).\n7. Độ dài: detail/shortlist/ask_more ≤ 200 từ; compare_internal ≤ 280 từ; compare_external ≤ 250 từ.\n8. Tuyệt đối không được chào hỏi lại nếu TURN TIẾP THEO lớn hơn 1\n\n# THUẬT NGỮ BMW/MINI\nKhi nhắc kiểu dáng BMW/MINI, dùng `body_style_display` từ CONTEXT thay \"SUV\":\n- SAV → \"SAV (Sports Activity Vehicle)\" lần đầu, sau viết tắt \"SAV\"\n- SAC → \"SAC (Sports Activity Coupe)\"\n- Estate → \"Estate\"\nVd: ❌ \"BMW X5 là SUV cao cấp\" ✅ \"BMW X5 là SAV (Sports Activity Vehicle) cao cấp\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        496
      ],
      "id": "f1c81fbe-5fe2-4414-af2e-ccc95daccd9c",
      "name": "Message a model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### [TRẠNG THÁI HỘI THOẠI]\n{{ ($('parse_session').first().json._prev.history || []).length === 0 ? '👋 TURN ĐẦU — được phép chào hỏi 1 lần.' : '⚠️ TURN TIẾP THEO — TUYỆT ĐỐI KHÔNG chào lại.' }}\n\n### [TIN NHẮN KHÁCH]\n\"{{ $('Webhook').item.json.chatInput }}\"\n\n### [THÔNG TIN HỆ THỐNG]\n- Mode: {{ $json.mode }}\n- Tỉnh/Thành: {{ $json.province || \"—\" }}\n- Brand: {{ $json.brand || \"—\" }}\n- Showroom name khách nhắc: {{ $json.showroom_name || \"—\" }}\n- URL tỉnh (nếu có): {{ $json.province_url || \"—\" }}\n\n### [DỮ LIỆU]\n{{ $json.context_bundle }}\n",
        "options": {
          "systemMessage": "=# ROLE\nBạn là Tư vấn viên Hệ thống Mạng lưới THACO AUTO. Chuyên trả lời câu hỏi tìm showroom, đại lý.\n\n# TONE\n- Xưng \"Em\" - \"Anh/Chị\". Lịch sự, hữu ích, gọn gàng.\n- Tối đa 220 từ.\n\n# QUY TẮC PHẢN HỒI THEO MODE (xem field \"mode\")\n\n▸ mode = \"specific_found\":\n  Trả ĐẦY ĐỦ thông tin 1 showroom theo CONTEXT (tên, địa chỉ, hotline, dịch vụ, link Maps).\n  Cuối: mời khách đặt lịch xem xe / lái thử.\n\n▸ mode = \"area_overview\":\n  Mở đầu: \"Dạ tại khu vực [areaName] có [N] showroom THACO AUTO ạ:\"\n  Liệt kê GỌN từng showroom (bullet ngắn, KHÔNG full address):\n  - **Tên showroom** — Brand: ..., Hotline: ...\n  Tóm tắt: \"Tất cả các showroom đều cùng khu vực [địa chỉ rút gọn], tổng [N] thương hiệu: [list].\"\n  Hỏi: \"Anh/Chị quan tâm thương hiệu hoặc showroom nào ạ? Em sẽ gửi địa chỉ + Maps chi tiết.\"\n\n▸ mode = \"nearest_by_location\":\n  Mở đầu: \"Dạ từ vị trí Anh/Chị (đại loại [user_location]), em tìm được [N] showroom [BRAND nếu có] gần nhất ạ:\"\n  Liệt kê theo thứ tự khoảng cách (CHỈ DÙNG SỐ TRONG CONTEXT):\n  - **1. [Tên]** — cách ~[X] km\n    📍 [địa chỉ rút gọn — đường + phường]\n    📞 Bán hàng: [...] · 🗺 [Maps link]\n  - **2. [Tên]** — ...\n  - **3. [Tên]** — ...\n  Cuối: \"Khoảng cách trên là đường chim bay; thực tế đường đi có thể dài hơn ạ. Anh/Chị muốn em đặt lịch lái thử / hẹn xem xe ở showroom nào?\"\n  KHÔNG bịa số km. KHÔNG hứa thời gian di chuyển cụ thể.\n\n▸ mode = \"nearest_no_geocode\" / \"nearest_no_match\" / \"nearest_too_far\" / \"specific_not_found\" / \"province_no_link\" / \"error\":   ← FALLBACK\n  Xin lỗi NGẮN (\"Em chưa định vị/tìm được kết quả chính xác cho [vị trí | tên showroom] Anh/Chị nói.\")\n  BẮT BUỘC gửi URL tra cứu lấy từ CONTEXT (dòng \"URL TRA CỨU TỰ HELP: ...\"): \"Anh/Chị có thể tự xem danh sách showroom đầy đủ tại: [URL]\"\n  Mời gọi hotline 1900 545 591 nếu cần hỗ trợ trực tiếp.\n  Hỏi lại 1 câu hỏi cụ thể (quận/phường nào, hoặc tên showroom đầy đủ) để em tra cứu lại.\n\n▸ mode = \"nearest_too_far\" (riêng cho trường hợp khách ở quá xa):\n  - PHẢI nói rõ: \"Hiện dữ liệu showroom của em mới đầy đủ cho khu vực Hồ Chí Minh và các tỉnh lân cận (Bình Dương, Bà Rịa-Vũng Tàu, Tây Ninh). Các tỉnh xa hơn em chưa cập nhật đầy đủ ạ.\"\n  - KHÔNG đề xuất 3 showroom 300-400km cho khách (vô nghĩa).\n  - GỬI URL tra cứu toàn quốc + hotline 1900 545 591 để khách được hỗ trợ trực tiếp.\n  - Có thể hỏi khách có muốn để lại SĐT để chuyên viên gọi lại tư vấn showroom gần khách nhất không.\n\n▸ mode = \"province_link\":\n  \"Dạ Anh/Chị có thể xem danh sách showroom THACO AUTO tại [tỉnh] qua link: [URL]\"\n  Nếu CONTEXT có brand → \"Vào trang lọc theo thương hiệu [brand] để tìm nhanh ạ.\"\n\n▸ mode = \"ask_province\":\n  Hỏi khéo: \"Anh/Chị đang ở tỉnh/thành hoặc khu vực nào ạ?\"\n  Có thể nêu URL tra cứu để khách tự xem trước (nếu có trong CONTEXT).\n\n# QUY TẮC CỨNG\n- KHÔNG bịa địa chỉ, hotline, link, khoảng cách.\n- KHÔNG dùng URL khác URL trong CONTEXT.\n- Mode area_overview: KHÔNG dump full address của tất cả showroom (rườm rà), chỉ overview + tên + brand + hotline → để khách chọn rồi mới gửi chi tiết.\n- Mode nearest_by_location: GIỮ ĐÚNG thứ tự xa/gần trong CONTEXT, không tự đảo.\n- Tối đa 220 từ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        800
      ],
      "id": "e17698a0-c1ce-468c-b2e1-31a57b48e71c",
      "name": "Message a model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        640
      ],
      "id": "ad6f1c5c-9cd4-41e6-b036-934c8d8742ba",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        784
      ],
      "id": "ba7e4513-2b1c-4da5-b86b-8a97e0a7a1ed",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        960
      ],
      "id": "7a952774-d4a8-46db-b5c6-c192ec43b271",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY",
          "mode": "list",
          "cachedResultName": "THACO Chatbot Memory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sessionId",
              "lookupValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2320,
        1120
      ],
      "id": "215ce1c1-13ac-4db0-948a-09d7d15e97c9",
      "name": "gs_read_session",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "csqzboerlakrLVzv",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('When chat message received3').first().json;\nconst rows = $input.all();\n\nlet prev = {\n  history: [],\n  last_user_msg: '',\n  last_intent: '',\n  last_brand: '',\n  last_model: '',\n  last_ai_reply: ''\n};\n\nif (rows.length && rows[0].json && rows[0].json.sessionId) {\n  const r = rows[0].json;\n  let history = [];\n  try {\n    history = r.history_json ? JSON.parse(r.history_json) : [];\n    if (!Array.isArray(history)) history = [];\n  } catch(e) { history = []; }\n\n  prev = {\n    history,\n    last_user_msg: r.last_user_msg || '',\n    last_intent:   r.last_intent   || '',\n    last_brand:    r.last_brand    || '',\n    last_model:    r.last_model    || '',\n    last_ai_reply: r.last_ai_reply || ''\n  };\n}\n\nreturn [{ json: { ...trigger, _prev: prev } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        1120
      ],
      "id": "8c3ed675-91cf-457e-9ba8-81b26fdb2d96",
      "name": "parse_session"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY",
          "mode": "list",
          "cachedResultName": "THACO Chatbot Memory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('When chat message received3').item.json.sessionId }}",
            "last_user_msg": "={{ $('When chat message received3').item.json.chatInput }}",
            "last_intent": "={{ $json.category }}",
            "last_brand": "={{ $json.brand }}",
            "last_model": "={{ $json.model_slug }}",
            "update_at": "={{ $now.toISO() }}",
            "history_json": "={{ $json.history_json }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_user_msg",
              "displayName": "last_user_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_intent",
              "displayName": "last_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_brand",
              "displayName": "last_brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_model",
              "displayName": "last_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ai_reply",
              "displayName": "last_ai_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_json",
              "displayName": "history_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1408,
        1120
      ],
      "id": "41ec3abf-e9ef-439a-9d79-2b418bd978fa",
      "name": "gs_save_session",
      "credentials": {
        "googleApi": {
          "id": "csqzboerlakrLVzv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass through router output từ xu_ly_category để node tiếp theo (Normalize) dùng được\nreturn [{ json: $('xu_ly_category').first().json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        1120
      ],
      "id": "0033c0d3-869b-4da8-a6a4-d8a11eb559f5",
      "name": "restore_router"
    },
    {
      "parameters": {
        "jsCode": "// capture_reply (cập nhật)\nconst item = $input.first().json;\nconst reply = item.output || item.text || item.response || '';\n\nreturn [{\n  json: {\n    output: reply,\n    _ai_reply_short: reply.slice(-300)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        560
      ],
      "id": "5ceceaf5-5911-4aee-8c92-6ca55f6b6894",
      "name": "capture_reply"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY",
          "mode": "list",
          "cachedResultName": "THACO Chatbot Memory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('When chat message received3').item.json.sessionId }}",
            "last_ai_reply": "={{ $json._ai_reply_short }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_user_msg",
              "displayName": "last_user_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_intent",
              "displayName": "last_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_brand",
              "displayName": "last_brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_model",
              "displayName": "last_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ai_reply",
              "displayName": "last_ai_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        560
      ],
      "id": "62447cac-0cfa-4b25-91c5-c7b479601c08",
      "name": "gs_update_reply",
      "credentials": {
        "googleApi": {
          "id": "csqzboerlakrLVzv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const router = $input.first().json;\nconst trigger = $('When chat message received3').first().json;\n\n// Lấy chatInput từ nhiều nguồn fallback\nconst userMsg =\n  trigger.chatInput ||\n  trigger.body?.message?.text ||                                    // Webhook raw\n  $('Webhook').first().json?.body?.message?.text ||                 // nếu node tên khác\n  '';\n\nconst sessionId = trigger.sessionId || trigger.body?.conversation?.id || 'default';\nconst prevHistory = ($('parse_session').first().json._prev?.history) || [];\n\nconst newTurn = {\n  ts: new Date().toISOString().slice(0, 19),\n  user: userMsg.slice(0, 150),\n  intent: router.category || '',\n  brand: router.brand || '',\n  model: router.model_slug || ''\n};\n\nconst newHistory = [...prevHistory, newTurn].slice(-10);\n\nreturn [{\n  json: {\n    ...router,\n    sessionId,\n    last_user_msg: newTurn.user,\n    last_intent: newTurn.intent,\n    last_brand: newTurn.brand,\n    last_model: newTurn.model,\n    history_json: JSON.stringify(newHistory)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        1120
      ],
      "id": "5c4e6c38-c162-413f-a796-722e4f445058",
      "name": "save_sessions"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### [TRẠNG THÁI HỘI THOẠI]\n{{ ($('parse_session').first().json._prev.history || []).length === 0 ? '👋 TURN ĐẦU — được chào' : '⚠️ TURN TIẾP THEO — TUYỆT ĐỐI KHÔNG chào lại' }}\n\n### [CÂU HỎI CỤT/MƠ HỒ HIỆN TẠI]\n\"{{ $('Webhook').item.json.chatInput }}\"\n\n### [LỊCH SỬ HỘI THOẠI 10 TURN GẦN NHẤT]\n{{ ($('parse_session').first().json._prev.history || []).map((h, i) => `[${i+1}] User: \"${h.user}\" → intent=${h.intent}, brand=${h.brand || '—'}, model=${h.model || '—'}`).join('\\n') || '(chưa có lịch sử — đây có thể là câu hỏi đầu tiên cụt)' }}\n\n### [AI VỪA TRẢ LỜI Ở TURN NGAY TRƯỚC]\n\"{{ $('parse_session').first().json._prev.last_ai_reply || '—' }}\"\n\nHãy trả lời khách dựa trên 2 kịch bản trong System Prompt.\n",
        "options": {
          "systemMessage": "=# ROLE\nDisambiguator của THACO AUTO chatbot. Câu hỏi khách CỤT/MƠ HỒ đã được Router xếp AMBIGUOUS.\nNhiệm vụ: đọc LỊCH SỬ + AI VỪA TRẢ LỜI để hiểu khách thực sự muốn gì → trả lời trực tiếp HOẶC hỏi lại.\n\n# 2 KỊCH BẢN\n\n▸ NẾU đủ ngữ cảnh từ lịch sử → TRẢ LỜI TRỰC TIẾP:\n  - Vd: AI vừa nhắc \"Kia Sportage Signature 1.099 tỷ\" + khách hỏi \"có ADAS không?\"\n    → \"Sportage Signature trang bị FCA, BCA, LKA, BVM ạ...\"\n  - LẤY số liệu từ \"AI vừa trả lời\" nếu đã có. KHÔNG bịa thêm.\n  - Nếu cần thông tin chi tiết hơn (giá phiên bản khác, thông số sâu) → mời khách hỏi rõ tên xe để em tra cứu chi tiết: \"Anh/Chị muốn em báo giá chi tiết phiên bản nào ạ?\"\n\n▸ NẾU KHÔNG đủ context → HỎI KHÉO ĐỂ KHÁCH LÀM RÕ:\n  - Vd: khách hỏi \"cái đó giá bao nhiêu?\" mà lịch sử rỗng\n    → \"Dạ Anh/Chị có thể chia sẻ rõ hơn — Anh/Chị đang quan tâm xe nào ạ? Em hỗ trợ Kia, Mazda, Peugeot, BMW, MINI...\"\n  - Luôn đưa **CHỌN LỰA cụ thể** thay vì hỏi mở.\n\n# QUY TẮC CỨNG\n- TURN TIẾP THEO → KHÔNG chào lại (\"Dạ em chào\", \"Dạ vâng ạ\"...).\n- CHỈ dùng số liệu trong lịch sử/AI reply trước, KHÔNG BỊA.\n- KHÔNG in wikilink [[...]].\n- Xưng \"Em\" - \"Anh/Chị\".\n- Tối đa 100 từ — gọn, đi thẳng vào việc.\n- Cuối: 1 CTA cụ thể (mời khách nói rõ xe / mời báo giá / lái thử)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -560,
        1184
      ],
      "id": "cc5c09f5-c833-4dbd-9306-8b5f95b09c01",
      "name": "AI Agent — Disambiguator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        1344
      ],
      "id": "75d68681-b5b0-4be9-9c30-0b0bcb493018",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Static reply pool — random pick để tránh trả y hệt mỗi lần\nconst replies = [\n  \"Dạ em chỉ hỗ trợ tư vấn xe THACO AUTO (Kia, Mazda, Peugeot, BMW, MINI, xe tải/bus). Anh/Chị có câu hỏi nào về xe không ạ? Em hỗ trợ ngay!\",\n  \n  \"Dạ em xin phép — em là trợ lý tư vấn của THACO AUTO nên chỉ hỗ trợ các câu hỏi liên quan đến xe ạ. Em có thể giúp Anh/Chị: tìm xe phù hợp ngân sách, báo giá, tìm showroom gần nhất, hoặc tư vấn lái thử.\",\n  \n  \"Dạ chủ đề này hơi ngoài phạm vi hỗ trợ của em rồi ạ. Em chuyên về xe Kia/Mazda/Peugeot/BMW/MINI — Anh/Chị đang quan tâm dòng nào hoặc tầm giá khoảng bao nhiêu ạ?\"\n];\n\nconst pick = replies[Math.floor(Math.random() * replies.length)];\nreturn [{ json: { output: pick } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1040
      ],
      "id": "65223cf9-9b7a-40cc-a794-91b8da0c11c1",
      "name": "reply_out_of_scope"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6dc759d-e8a4-4307-b223-ba80a53b169c",
              "leftValue": "={{ $json.sales_subcategory }}",
              "rightValue": "close_deal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        384
      ],
      "id": "0e989d52-127b-4abb-8a8c-f25b02445518",
      "name": "IF sub_close_deal"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY",
          "mode": "list",
          "cachedResultName": "THACO Chatbot Memory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sessionId",
              "lookupValue": "={{ $('When chat message received3').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        304
      ],
      "id": "273ee238-5d4e-4a84-bf89-595a43507a7f",
      "name": "gs_read_lead_state",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "csqzboerlakrLVzv",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CURRENT MESSAGE\n     \"{{ $('Webhook').item.json.chatInput }}\"\n     \n     ### PARTIAL STATE (đã thu thập trước, có thể null toàn bộ nếu lần đầu)\n     {{ $json.lead_partial_json || '{}' }}\n     \n     ### HISTORY 3 TURN GẦN NHẤT\n     {{ ($('parse_session').first().json._prev.history || []).slice(-3).map(h => `User: \"${h.user}\"`).join('\\n') || '(chưa có)' }}\n     \n     EXTRACT JSON:",
        "options": {
          "systemMessage": "=Bạn là extractor cho hệ thống đăng ký lái thử THACO AUTO.\n     Trích xuất 6 field từ tin nhắn khách + history + state đã có.\n     CHỈ trả JSON thuần (không markdown, không giải thích).\n\n     - name: Họ tên khách (vd \"Nguyễn Văn Tuấn\" hoặc \"Tuấn\"). null nếu chưa rõ.\n     - phone: SĐT VN (10 số bắt đầu 0, hoặc +84xxxxxxxxx). null nếu chưa hoặc sai format.\n     - model_interest: Tên xe khách quan tâm (vd \"Sportage\", \"Kia K5\", \"BMW X5\", \"CX-5\"). null nếu chưa.\n     - showroom: Tên showroom HOẶC khu vực mà khách CHỌN cụ thể để lái thử (vd \"Phú Mỹ Hưng\", \"Sala\", \"Kia Tân Sơn Nhất\"). null nếu chưa.\n     - preferred_datetime: Text tự nhiên (vd \"thứ 7 sáng\", \"9h ngày 28/4\"). null nếu chưa.\n     - user_location: Vị trí HIỆN TẠI của khách (chỉ dùng khi khách chưa chọn showroom + có nói \"tôi ở X / nhà em ở X / em đang ở X / showroom nào gần Y\"). Vd \"Quận 3, Thành phố Hồ Chí Minh\", \"Thủ Đức, Thành phố Hồ Chí Minh\". null nếu khách đã chọn showroom rõ ràng hoặc không nói vị trí.\n\n     QUY TẮC:\n     - Đọc PARTIAL STATE + HISTORY để giữ lại field đã extract trước đó.\n     - Nếu khách nói lại field cũ với giá trị mới → ưu tiên giá trị mới.\n     - KHÔNG bịa. Thiếu thì để null.\n     - user_location được dùng để gợi ý showroom gần nhất nếu showroom đang null.\n\n     Output BẮT BUỘC:\n     {\"name\":null,\"phone\":null,\"model_interest\":null,\"showroom\":null,\"preferred_datetime\":null,\"user_location\":null}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        240
      ],
      "id": "105bdb16-e7e7-4255-b846-67507a526e79",
      "name": "AI Agent - Test Drive Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        368
      ],
      "id": "3952cee9-8a73-4e85-a918-d5992a9a801b",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// merge_lead_state — Code node sau \"AI Agent — Test Drive Extractor\"\n// Parse JSON output → merge với state cũ → check completeness\n// Bonus: nếu thiếu showroom + có user_location → geocode + suggest top 3 nearest\n\nconst aiRaw = $input.first().json.output || '';\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\nconst FALLBACK_URL = 'https://thacoautotphcm.vn/showrooms';\nconst MAX_DISTANCE_KM = 150;\n\n// 1. Parse extractor JSON\nlet extracted = {};\ntry {\n  const m = aiRaw.match(/\\{[\\s\\S]*\\}/);\n  if (m) extracted = JSON.parse(m[0]);\n} catch (e) {}\n\n// 2. Load prior state\nlet prior = {};\ntry {\n  const row = $('gs_read_lead_state').first().json;\n  if (row && row.lead_partial_json) {\n    prior = JSON.parse(row.lead_partial_json);\n  }\n} catch (e) {}\n\nfunction isValidVnPhone(p) {\n  if (!p) return false;\n  const cleaned = p.toString().replace(/[\\s\\-\\.]/g, '');\n  return /^(\\+84|84|0)[0-9]{9,10}$/.test(cleaned);\n}\n\n// 3. Merge\nconst merged = {\n  name: extracted.name || prior.name || null,\n  phone: extracted.phone || prior.phone || null,\n  model_interest: extracted.model_interest || prior.model_interest || null,\n  showroom: extracted.showroom || prior.showroom || null,\n  preferred_datetime: extracted.preferred_datetime || prior.preferred_datetime || null\n};\n\n// user_location KHÔNG persist (chỉ dùng để gợi ý showroom turn này)\nconst user_location = (extracted.user_location || '').trim();\n\nif (merged.phone && !isValidVnPhone(merged.phone)) {\n  merged.phone = null;\n}\n\nconst missing = Object.entries(merged)\n  .filter(([k, v]) => !v)\n  .map(([k]) => k);\nconst isComplete = missing.length === 0;\n\nconst sessionId = $('Webhook').first().json.sessionId || 'default';\n\n// =========================================================\n// BONUS: nếu thiếu showroom + có user_location → suggest\n// =========================================================\nlet showroom_suggestions = [];\nlet suggestion_text = '';\n\nfunction inferBrandFromModel(modelText) {\n  const t = (modelText || '').toLowerCase();\n  if (/\\b(sportage|carnival|carens|seltos|sorento|sonet|k3|k5|morning|new\\s*carnival)\\b/.test(t)) return 'kia';\n  if (/\\b(mazda|cx-?\\d+|mx-?\\d+|cx5|cx3|cx30|cx8|mazda3|mazda6|mazda2)\\b/.test(t)) return 'mazda';\n  if (/\\b(peugeot|3008|5008|2008|408|traveller)\\b/.test(t)) return 'peugeot';\n  if (/\\b(bmw|x[1-7]\\b|series|3 ?series|5 ?series|7 ?series|i[345789]\\b|330|320|520|530|730)\\b/.test(t)) return 'bmw';\n  if (/\\b(mini|cooper|countryman|clubman)\\b/.test(t)) return 'mini';\n  return '';\n}\n\nfunction haversineKm(lat1, lon1, lat2, lon2) {\n  const R = 6371;\n  const toRad = x => x * Math.PI / 180;\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat/2)**2 +\n            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) * Math.sin(dLon/2)**2;\n  return 2 * R * Math.asin(Math.sqrt(a));\n}\n\n\nconst PASSENGER_BRANDS = ['kia', 'mazda', 'peugeot', 'bmw', 'mini'];\nfunction brandMatches(showroom, b) {\n  if (!b) return true;\n  const slugs = showroom.brand_slugs || [];\n  // Exact match — KHÔNG dùng includes() vì 'kia-frontier'.includes('kia') sẽ kéo nhầm xe tải\n  if (!slugs.includes(b)) return false;\n  // Brand xe du lịch → chỉ lấy showroom oto, loại tai/bus\n  if (PASSENGER_BRANDS.includes(b) && showroom.type_showroom && showroom.type_showroom !== 'oto') return false;\n  return true;\n}\n\nif (!merged.showroom && user_location) {\n  try {\n    // Geocode user location\n    const geo = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://nominatim.openstreetmap.org/search',\n      qs: { format: 'json', q: /vietnam|việt nam/i.test(user_location) ? user_location : (user_location + ', Việt Nam'), limit: 1 },\n      headers: { 'User-Agent': 'thacoauto-chatbot/1.0 (contact: phogotarot@gmail.com)' },\n      json: true,\n      returnFullResponse: false\n    });\n    const arr = (typeof geo === 'string') ? JSON.parse(geo) : geo;\n\n    if (Array.isArray(arr) && arr.length) {\n      const ulat = parseFloat(arr[0].lat);\n      const ulon = parseFloat(arr[0].lon);\n\n      // Load catalog\n      const cat = await this.helpers.httpRequest({\n        method: 'GET',\n        url: base + 'wiki/dealers/catalog.json',\n        json: true,\n        returnFullResponse: false\n      });\n      const data = (typeof cat === 'string') ? JSON.parse(cat) : cat;\n\n      // Filter brand từ model_interest\n      const inferredBrand = inferBrandFromModel(merged.model_interest || '');\n      let candidates = (data.showrooms || []).filter(s =>\n        typeof s.lat === 'number' && typeof s.lon === 'number'\n      );\n      if (inferredBrand) {\n        const filtered = candidates.filter(s => brandMatches(s, inferredBrand));\n        if (filtered.length) candidates = filtered;\n      }\n\n      const ranked = candidates\n        .map(s => ({\n          title: s.title,\n          brand: (s.brands || []).join(', '),\n          ward: s.address?.ward || '',\n          street: s.address?.street || '',\n          phone: s.phone_sale || '—',\n          distance_km: haversineKm(ulat, ulon, s.lat, s.lon)\n        }))\n        .sort((a, b) => a.distance_km - b.distance_km)\n        .slice(0, 3);\n\n      if (ranked.length && ranked[0].distance_km > MAX_DISTANCE_KM) {\n        // Quá xa → không gợi ý, báo cho AI biết\n        showroom_suggestions = [];\n        suggestion_text = `[KHÔNG có showroom phù hợp gần \"${user_location}\" — gần nhất cũng cách ~${ranked[0].distance_km.toFixed(0)}km. Dữ liệu hiện chỉ phủ cụm HCM và lân cận. Gợi ý cho AI: xin lỗi khách, KHÔNG ép khách chọn showroom xa, mời khách xem danh sách toàn quốc tại ${FALLBACK_URL} hoặc gọi 1900 545 591 để chuyên viên tư vấn showroom gần khách.]`;\n      } else {\n        showroom_suggestions = ranked;\n        if (ranked.length) {\n          suggestion_text = `Top ${ranked.length} showroom${inferredBrand ? ' ' + inferredBrand.toUpperCase() : ''} gần \"${user_location}\":\\n` +\n            ranked.map((s, i) => `  ${i+1}. ${s.title} — cách ~${s.distance_km.toFixed(1)}km — ${s.street}, P.${s.ward} — ${s.phone}`).join('\\n');\n        }\n      }\n    }\n  } catch (e) {\n    suggestion_text = `[Không truy vấn được showroom gần nhất: ${e.message}. Có thể gửi URL tra cứu: ${FALLBACK_URL}]`;\n  }\n}\n\nreturn [{\n  json: {\n    sessionId,\n    lead_data: merged,\n    lead_partial_json: JSON.stringify(merged),\n    missing_fields: missing,\n    is_complete: isComplete,\n    user_location,\n    showroom_suggestions,\n    suggestion_text,\n    fallback_url: FALLBACK_URL,\n    _debug_extracted: extracted,\n    _debug_prior: prior\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        240
      ],
      "id": "c359806e-4709-4587-a4ef-24e88ab9ae91",
      "name": "merge_lead_state"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13da00fb-b282-4970-abb0-5d2a26fc4fa6",
              "leftValue": "={{ $json.is_complete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        240
      ],
      "id": "fe20cf8f-5374-4982-8a8d-0ab4a5720f4a",
      "name": "IF is_complete"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY",
          "mode": "list",
          "cachedResultName": "THACO Chatbot Memory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1048020030,
          "mode": "list",
          "cachedResultName": "test_drives",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit#gid=1048020030"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "timestamp": "={{ $now.toISO() }}",
            "name": "={{ $json.lead_data.name }}",
            "phone": "={{ $json.lead_data.phone }}",
            "model_interest": "={{ $json.lead_data.model_interest }}",
            "showroom": "={{ $json.lead_data.showroom }}",
            "preferred_datetime": "={{ $json.lead_data.preferred_datetime }}",
            "source_message": "={{ $('When chat message received3').item.json.chatInput }}",
            "status": "new"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model_interest",
              "displayName": "model_interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "showroom",
              "displayName": "showroom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_datetime",
              "displayName": "preferred_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_message",
              "displayName": "source_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        144
      ],
      "id": "673527d5-06e5-4e6a-85b8-f74c3d1cd030",
      "name": "gs_append_test_drive",
      "credentials": {
        "googleApi": {
          "id": "csqzboerlakrLVzv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// reply_complete — Code node sau \"gs_append_test_drive\"\n// Static reply xác nhận đã save lead — KHÔNG gọi AI để tiết kiệm token + đảm bảo format ổn định.\n\nconst d = $('merge_lead_state').first().json.lead_data;\n\nconst reply = `Dạ em đã ghi nhận đăng ký lái thử của Anh/Chị ạ ✅\n\n📋 **Thông tin đã lưu:**\n- Họ tên: ${d.name}\n- SĐT: ${d.phone}\n- Xe quan tâm: ${d.model_interest}\n- Showroom: ${d.showroom}\n- Thời gian: ${d.preferred_datetime}\n\n🚗 Chuyên viên Sale sẽ liên hệ Anh/Chị trong **1-2 giờ làm việc** để xác nhận lịch và chuẩn bị xe.\n\nCảm ơn Anh/Chị đã quan tâm THACO AUTO!\n\n📞 Hotline hỗ trợ: **1900 545 591**`;\n\nreturn [{ json: { output: reply } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        144
      ],
      "id": "db4ddc6f-839f-440b-adcc-dd284de49573",
      "name": "reply_complete"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY",
          "mode": "list",
          "cachedResultName": "THACO Chatbot Memory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzh3nT0hUOV5SzD-6GhLIgepw26hrKiFP8ksNqzC_AY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "lead_partial_json": "={{ $json.lead_partial_json }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_user_msg",
              "displayName": "last_user_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_intent",
              "displayName": "last_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_brand",
              "displayName": "last_brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_model",
              "displayName": "last_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ai_reply",
              "displayName": "last_ai_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_json",
              "displayName": "history_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_partial_json",
              "displayName": "lead_partial_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        336
      ],
      "id": "47aa03c2-7722-40cf-9c1c-de1979926cf8",
      "name": "gs_update_partial_state",
      "credentials": {
        "googleApi": {
          "id": "csqzboerlakrLVzv",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### TRẠNG THÁI HỘI THOẠI\n     {{ ($('parse_session').first().json._prev.history || []).length === 0 ? 'TURN ĐẦU — được chào' : 'TURN TIẾP — KHÔNG chào lại' }}\n\n     ### ĐÃ THU THẬP\n     {{ JSON.stringify($('merge_lead_state').first().json.lead_data) }}\n\n     ### CÒN THIẾU\n     {{ $('merge_lead_state').first().json.missing_fields.join(', ') }}\n\n     ### GỢI Ý SHOWROOM (chỉ có nếu khách thiếu showroom + đã nói vị trí)\n     {{ $('merge_lead_state').first().json.suggestion_text || '(không có gợi ý — khách chưa nói vị trí hoặc đã chọn showroom)' }}\n\n     ### URL TRA CỨU FALLBACK (dùng khi không gợi ý được)\n     {{ $('merge_lead_state').first().json.fallback_url }}\n\n     Hãy hỏi khách field còn thiếu theo quy tắc.",
        "options": {
          "systemMessage": "=Bạn là tư vấn THACO AUTO. Khách đang đăng ký lái thử nhưng còn thiếu thông tin.\n     Nhiệm vụ: hỏi 1-2 field còn thiếu KHÉO LÉO, không hỏi quá 2 field/lần để tránh ngộp.\n\n     QUY TẮC:\n     - Mở đầu confirm những gì đã thu thập (cho khách yên tâm), vd \"Em đã ghi nhận xe Anh/Chị quan tâm là Sportage\".\n     - Hỏi field thiếu theo thứ tự ưu tiên: phone > name > model_interest > showroom > preferred_datetime.\n     - KHÔNG chào lại nếu là TURN TIẾP.\n     - Tone: \"Em\" - \"Anh/Chị\". Lịch sự, nhẹ nhàng.\n     - Tối đa 120 từ.\n     - KHÔNG dùng markdown bảng.\n\n     QUY TẮC ĐẶC BIỆT KHI HỎI FIELD `showroom`:\n     - Nếu phần \"GỢI Ý SHOWROOM\" có dữ liệu (top 3 gần nhất) → liệt kê 3 showroom đó dạng bullet ngắn (tên + khoảng cách + đường) và mời khách chọn 1 trong 3, vd:\n         \"Em thấy gần Anh/Chị có 3 showroom Kia ạ:\n            1. Kia Tân Sơn Nhất — ~3.6km, Hoàng Minh Giám\n            2. Kia Phú Mỹ Hưng — ~5.6km, Nguyễn Văn Linh\n            3. Kia Thảo Điền — ~5.7km, Quốc Hương\n          Anh/Chị tiện ghé showroom nào ạ?\"\n     - Nếu KHÔNG có gợi ý (suggestion_text rỗng / khách chưa nói vị trí) → hỏi 2 cách:\n         (a) \"Anh/Chị tiện ghé showroom khu vực nào ạ?\" + gợi ý nhanh các khu phổ biến: PMH, Sala, Tân Sơn Nhất, Trường Chinh, An Sương, Thảo Điền, Phan Đăng Lưu, Thủ Đức.\n         (b) HOẶC: \"Hoặc Anh/Chị có thể tự xem danh sách đầy đủ tại: [URL TRA CỨU FALLBACK]\"\n     - KHÔNG bịa tên showroom ngoài CONTEXT.\n\n     KHÁC: nếu thiếu cả showroom + datetime + 1-2 field khác → ưu tiên hỏi showroom trước nếu đã có gợi ý (vì gợi ý đang sẵn), sau đó mới hỏi datetime."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        336
      ],
      "id": "4e60a630-be9a-42be-a8de-44f5c8a80207",
      "name": "AI Agent - reply_ask_missing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        496
      ],
      "id": "389dc9ab-90bb-45e0-9de5-cd8cbdf626ea",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy câu chat của người dùng (chuyển thành chữ thường để dễ xét từ khóa)\nconst userMsg = ($('Webhook').first().json.chatInput || \"\").toLowerCase();\n\n// KHO CÂU TRẢ LỜI (Bạn có thể phẩy và thêm vô số câu mới vào từng mảng [ ])\nconst replyPool = {\n  \n  // Nhóm TẠM BIỆT\n  goodbye: [\n    \"Dạ THACO AUTO chào tạm biệt Anh/Chị. Chúc Anh/Chị một ngày tốt lành! Khi nào cần thêm thông tin gì về xe, Anh/Chị cứ nhắn lại cho em nhé.\",\n    \"Dạ vâng, hẹn gặp lại Anh/Chị ạ! Chúc Anh/Chị sức khoẻ và thành công.\",\n    \"Dạ tạm biệt Anh/Chị. Nếu cần tư vấn thêm về xe THACO AUTO, em luôn sẵn sàng hỗ trợ 24/7 ở đây ạ!\"\n  ],\n  \n  // Nhóm CẢM ƠN\n  thanks: [\n    \"Dạ không có gì ạ! Rất vui vì đã hỗ trợ được thông tin cho Anh/Chị. Anh/Chị còn cần em tư vấn thêm dòng xe nào khác không ạ?\",\n    \"Dạ vâng, niềm vui của em là được hỗ trợ Anh/Chị ạ. Nếu cần xem thêm xe nào, Anh/Chị cứ bảo em nhé!\",\n    \"Dạ em cảm ơn Anh/Chị đã quan tâm đến THACO AUTO. Chúc Anh/Chị sớm chọn được chiếc xe ưng ý ạ!\"\n  ],\n  \n  // Nhóm HỎI DANH TÍNH\n  identity: [\n    \"Dạ em là Trợ lý tư vấn ảo của THACO AUTO. Em được lập trình để hỗ trợ Anh/Chị tìm hiểu thông số, xem giá lăn bánh các dòng xe (Kia, Mazda, Peugeot, BMW...) và tìm kiếm showroom ạ.\",\n    \"Dạ em là chatbot tư vấn trực tuyến của hệ thống THACO AUTO ạ. Em có thể trả lời nhanh các câu hỏi về xe, giá cả và đặt lịch lái thử giúp Anh/Chị.\",\n    \"Dạ em là AI hỗ trợ tư vấn xe của THACO. Dù là AI nhưng em đã được cung cấp đầy đủ dữ liệu nội bộ chuẩn xác nhất để hỗ trợ Anh/Chị ạ!\"\n  ],\n  \n  // Nhóm CHÀO HỎI (Mặc định)\n  hello: [\n    \"Dạ em chào Anh/Chị ạ. Em là trợ lý tư vấn ảo của THACO AUTO. Em có thể hỗ trợ Anh/Chị thông tin về các dòng xe du lịch cũng như xe tải/bus ạ.\",\n    \"Dạ chào Anh/Chị! Em là tư vấn viên THACO AUTO. Anh/Chị đang quan tâm đến dòng xe nào hay cần hỗ trợ thông tin gì ạ?\",\n    \"Dạ xin chào Anh/Chị! Anh/Chị cần em hỗ trợ báo giá lăn bánh hay xem thông số của mẫu xe nào ạ?\"\n  ]\n};\n\n// Hàm chọn ngẫu nhiên 1 câu trong mảng\nfunction pickRandom(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nlet reply = \"\";\n\n// PHÂN LOẠI VÀ CHỌN CÂU\nif (userMsg.match(/(tạm biệt|bye|chào nhé|hẹn gặp lại|ngủ ngon)/)) {\n  reply = pickRandom(replyPool.goodbye);\n} \nelse if (userMsg.match(/(cảm ơn|cám ơn|thank|tks|thanks)/)) {\n  reply = pickRandom(replyPool.thanks);\n} \nelse if (userMsg.match(/(bạn là ai|mày là ai|là bot|bot à|ai tư vấn|tên gì)/)) {\n  reply = pickRandom(replyPool.identity);\n} \nelse {\n  reply = pickRandom(replyPool.hello); // Nếu không có từ khóa trên thì lấy mặc định là lời chào\n}\n\n// Trả kết quả ra luồng\nreturn [{ json: { output: reply } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -96
      ],
      "id": "c41f4ac4-5d7f-44e7-b354-5a4f538dc45c",
      "name": "reply_greeting"
    },
    {
      "parameters": {
        "jsCode": "// Lấy câu chat của người dùng để xét từ khóa\nconst userMsg = ($('Webhook').first().json.chatInput || \"\").toLowerCase();\n\n// KHO CÂU TRẢ LỜI CHO CÁC TRƯỜNG HỢP NHẠY CẢM\nconst replyPool = {\n  \n  // Nhóm TỤC TĨU, CHỬI THỀ, XÚC PHẠM\n  profanity: [\n    \"Dạ mong Anh/Chị thông cảm, em là trợ lý tư vấn xe của THACO AUTO nên xin phép từ chối phản hồi các ngôn từ chưa phù hợp ạ.\",\n    \"Dạ, THACO AUTO luôn mong muốn hỗ trợ Anh/Chị tốt nhất. Mong Anh/Chị giữ ngôn từ chuẩn mực để em có thể tiếp tục tư vấn ạ.\",\n    \"Dạ xin lỗi Anh/Chị, hệ thống của em không thể xử lý các câu hỏi chứa từ ngữ nhạy cảm hoặc thiếu lịch sự ạ.\"\n  ],\n  \n  // Nhóm CHÍNH TRỊ, TÔN GIÁO, XÃ HỘI\n  politics: [\n    \"Dạ em là trợ lý chuyên biệt về lĩnh vực ô tô của THACO AUTO, nên em xin phép không thảo luận về các chủ đề chính trị, tôn giáo hay các vấn đề xã hội ạ.\",\n    \"Dạ nội dung này nằm ngoài phạm vi hiểu biết của em. Em chỉ có thể tư vấn các thông tin liên quan đến xe hơi thôi ạ.\",\n    \"Dạ rất xin lỗi, nguyên tắc hoạt động của em là không trao đổi về các chủ đề ngoài ngành ô tô và dịch vụ của THACO AUTO ạ.\"\n  ],\n  \n  // MẶC ĐỊNH (Router đẩy sang SAFETY_GUARD nhưng không khớp các từ khóa cụ thể ở trên)\n  default: [\n    \"Dạ xin lỗi Anh/Chị, nội dung này vi phạm nguyên tắc hỗ trợ của hệ thống nên em xin phép không phản hồi ạ.\",\n    \"Dạ em không được phép trao đổi về chủ đề này. Nếu Anh/Chị có nhu cầu tìm hiểu thông tin về xe, em luôn sẵn lòng hỗ trợ ạ!\"\n  ]\n};\n\n// Hàm chọn ngẫu nhiên 1 câu\nfunction pickRandom(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nlet reply = \"\";\n\n// PHÂN LOẠI VÀ CHỌN CÂU THEO TỪ KHÓA\n// 1. Check nhóm chửi thề/xúc phạm (Bạn có thể bổ sung thêm từ vào trong ngoặc)\nif (userMsg.match(/(đụ|đĩ|lồn|cặc|chó|ngu|cút|địt|điên|mẹ mày)/)) {\n  reply = pickRandom(replyPool.profanity);\n} \n// 2. Check nhóm chính trị/nhạy cảm\nelse if (userMsg.match(/(chính trị|đảng|nhà nước|tôn giáo|phản động|biểu tình|chiến tranh)/)) {\n  reply = pickRandom(replyPool.politics);\n} \n// 3. Fallback mặc định\nelse {\n  reply = pickRandom(replyPool.default);\n}\n\n// Trả kết quả ra luồng\nreturn [{ json: { output: reply } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        144
      ],
      "id": "ce242554-495e-4c08-806c-3bab345c7473",
      "name": "safety_guard_reply"
    },
    {
      "parameters": {
        "jsCode": "// Lấy câu chat của người dùng\nconst userMsg = ($('Webhook').first().json.chatInput || \"\").toLowerCase();\n\n// KHO CÂU TRẢ LỜI XỬ LÝ KHIẾU NẠI\nconst replyPool = {\n  \n  // Nhóm phàn nàn về THÁI ĐỘ NHÂN VIÊN\n  attitude: [\n    \"Dạ THACO AUTO thành thật xin lỗi nếu thái độ phục vụ của nhân viên làm Anh/Chị phiền lòng. Xin Anh/Chị vui lòng để lại số điện thoại hoặc gọi ngay Hotline CSKH 1900 56 5499 để bộ phận quản lý tiếp nhận và chấn chỉnh ngay lập tức ạ.\",\n    \"Dạ em rất tiếc về trải nghiệm không vui của Anh/Chị. Để xử lý triệt để vấn đề về thái độ phục vụ, Anh/Chị vui lòng cung cấp số điện thoại hoặc liên hệ Hotline 1900 56 5499 để quản lý chi nhánh trực tiếp giải quyết giúp em nhé!\"\n  ],\n  \n  // Nhóm phàn nàn về SẢN PHẨM / CHẤT LƯỢNG DỊCH VỤ (xe lỗi, sửa lâu...)\n  service_product: [\n    \"Dạ THACO AUTO rất xin lỗi vì sự cố Anh/Chị đang gặp phải với chiếc xe/dịch vụ của mình. Để được hỗ trợ kỹ thuật và giải quyết gấp, xin Anh/Chị vui lòng để lại số điện thoại hoặc gọi Hotline CSKH 1900 56 5499 ạ.\",\n    \"Dạ em đã ghi nhận phản ánh của Anh/Chị về chất lượng dịch vụ. Anh/Chị vui lòng gọi Hotline 1900 56 5499 hoặc để lại SĐT tại đây để chuyên viên CSKH liên hệ xử lý ngay cho mình ạ.\"\n  ],\n  \n  // MẶC ĐỊNH (Không xác định rõ là lỗi gì nhưng khách đang khó chịu)\n  default: [\n    \"Dạ THACO AUTO chân thành xin lỗi vì trải nghiệm chưa tốt của Anh/Chị. Xin Anh/Chị vui lòng để lại số điện thoại, hoặc liên hệ trực tiếp Hotline CSKH 1900 56 5499 để bộ phận chuyên trách tiếp nhận và giải quyết thỏa đáng ạ.\",\n    \"Dạ em rất tiếc về vấn đề Anh/Chị đang gặp phải. Bộ phận Chăm sóc khách hàng của THACO AUTO (Hotline 1900 56 5499) luôn sẵn sàng lắng nghe và giải quyết sự cố, Anh/Chị có thể để lại SĐT để em báo nhân viên gọi lại hỗ trợ ngay ạ.\"\n  ]\n};\n\n// Hàm chọn ngẫu nhiên 1 câu\nfunction pickRandom(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nlet reply = \"\";\n\n// PHÂN LOẠI VÀ CHỌN CÂU THEO TỪ KHÓA\n// 1. Nhóm thái độ nhân viên\nif (userMsg.match(/(thái độ|nhân viên|bảo vệ|tư vấn|sale|phục vụ|chảnh|coi thường|bỏ bê)/)) {\n  reply = pickRandom(replyPool.attitude);\n} \n// 2. Nhóm xe lỗi / dịch vụ xưởng chậm chạp\nelse if (userMsg.match(/(hư|lỗi|hỏng|bảo hành|sửa|dịch vụ tệ|chậm|chất lượng|kêu|ồn|bảo dưỡng)/)) {\n  reply = pickRandom(replyPool.service_product);\n} \n// 3. Fallback mặc định\nelse {\n  reply = pickRandom(replyPool.default);\n}\n\n// Trả kết quả ra luồng\nreturn [{ json: { output: reply } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        928
      ],
      "id": "7dde46b4-d59e-447d-b1d6-0c5c78cbf6e1",
      "name": "complaint_reply"
    },
    {
      "parameters": {
        "jsCode": "// HANDOFF: THU CŨ ĐỔI MỚI\n// Paste vào n8n node Code mới sau Switch.TRADE_IN\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\n\nconst model_slug = (d.model_slug || \"\").toLowerCase().trim();\n\nlet bundle = '';\nconst files_used = ['wiki/services/trade-in.md'];\n\n// Fetch file knowledge gốc\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + 'wiki/services/trade-in.md',\n    returnFullResponse: false\n  });\n  const raw = typeof data === 'string' ? data : JSON.stringify(data);\n  const cleaned = raw.replace(/^---[\\s\\S]*?---\\s*/m, '').trim();\n  bundle += `=== FILE: wiki/services/trade-in.md ===\\n${cleaned}\\n\\n`;\n} catch (e) { /* skip 404 */ }\n\nbundle += `=== HƯỚNG DẪN AI ===\nXe khách muốn lên đời (nếu có): ${model_slug || '(chưa khai)'}\n\n- Xác nhận đúng dịch vụ thu cũ đổi mới của THACO AUTO.\n- ĐÍNH KÈM link: https://usedcars.thacoauto.vn\n- Đề xuất 3 cách: (1) website định giá online, (2) hotline 1900 545 591, (3) tới showroom.\n- KHÔNG tự định giá xe cũ — chỉ điều hướng.\n- Nếu khách có model muốn lên đời → gợi ý xem trang xe đó song song.`;\n\nreturn [{\n  json: {\n    ...d,\n    mode: 'trade_in',\n    files_used,\n    context_bundle: bundle,\n    bundle_size: bundle.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1504
      ],
      "id": "e66d6a61-f95b-487a-9b67-46507393ac79",
      "name": "trade_in_code"
    },
    {
      "parameters": {
        "jsCode": "// BRAND INFO LOOKUP — đọc wiki/brands/catalog.json + file brand MD\n// Paste vào n8n node Code mới sau Switch.BRAND_INFO\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\n\nconst brand = (d.brand || \"\").toLowerCase().trim();\n\nlet bundle = '';\nconst files_used = [];\n\nif (!brand) {\n  bundle = `[BRAND_INFO nhưng chưa rõ brand. AI hỏi lại: \"Anh/Chị quan tâm hãng nào trong các thương hiệu THACO phân phối: Kia, Mazda, Peugeot, BMW, MINI?\"]`;\n} else {\n  let hit = null;\n  try {\n    const cat = await this.helpers.httpRequest({\n      method: 'GET',\n      url: base + 'wiki/brands/catalog.json',\n      json: true, returnFullResponse: false\n    });\n    const brands = (typeof cat === 'string' ? JSON.parse(cat) : cat).brands || [];\n    hit = brands.find(b => b.slug === brand);\n  } catch (e) {\n    bundle = `[Lỗi load brand catalog: ${e.message}]`;\n  }\n\n  if (hit) {\n    bundle = `=== METADATA THƯƠNG HIỆU ${hit.name} ===\n- Quốc gia: ${hit.country}\n- Mô tả ngắn: ${hit.short_desc || '—'}\n- Website chính thức: ${hit.official_site}\n- Trang THACO phân phối: ${hit.thaco_site}\n- Fanpage chính thức: ${hit.fanpage}\n\n=== HƯỚNG DẪN AI ===\n- Trả lời ngắn gọn DỰA HOÀN TOÀN trên metadata trên.\n- Đưa URL nguyên văn (web/fanpage), KHÔNG rút gọn.\n- Nếu khách hỏi về model cụ thể của hãng → gợi ý hỏi cụ thể tên xe.`;\n  } else if (!bundle) {\n    bundle = `[BRAND_INFO nhưng brand \"${brand}\" không có trong catalog. AI hỏi lại khách quan tâm hãng nào trong: Kia, Mazda, Peugeot, BMW, MINI.]`;\n  }\n}\n\nreturn [{\n  json: {\n    ...d,\n    mode: 'brand_info',\n    files_used,\n    context_bundle: bundle,\n    bundle_size: bundle.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1664
      ],
      "id": "e69bde0c-6122-4bce-a467-a398e464b86f",
      "name": "brand_info_logic"
    },
    {
      "parameters": {
        "jsCode": "// HANDOFF: TUYỂN DỤNG THACO\n// Paste vào n8n node Code mới sau Switch.RECRUITMENT\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\n\nlet bundle = '';\nconst files_used = ['wiki/services/recruitment.md'];\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + 'wiki/services/recruitment.md',\n    returnFullResponse: false\n  });\n  const raw = typeof data === 'string' ? data : JSON.stringify(data);\n  const cleaned = raw.replace(/^---[\\s\\S]*?---\\s*/m, '').trim();\n  bundle += `=== FILE: wiki/services/recruitment.md ===\\n${cleaned}\\n\\n`;\n} catch (e) { /* skip 404 */ }\n\nbundle += `=== HƯỚNG DẪN AI ===\n- Xác nhận THACO Group đang tuyển nhiều vị trí thuộc TOÀN TẬP ĐOÀN (không chỉ THACO AUTO).\n- ĐÍNH KÈM link: https://tuyendung.thaco.com.vn/tieng-viet\n- Liệt kê ngắn các nhóm vị trí: công nhân, chuyên viên, kỹ sư, quản lý, lãnh đạo.\n- Nhắc tập đoàn thành viên: THACO AUTO, THACO INDUSTRIES, THACO AGRI, THADICO, THISO, THILOGI.\n- Hướng dẫn khách tạo CV và nộp trực tiếp trên hệ thống tuyển dụng.\n- KHÔNG hứa kết quả phỏng vấn — chỉ điều hướng.`;\n\nreturn [{\n  json: {\n    ...d,\n    mode: 'recruitment',\n    files_used,\n    context_bundle: bundle,\n    bundle_size: bundle.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        1808
      ],
      "id": "f8404bec-76d8-44ae-94fc-3d70f81f0d15",
      "name": "recruitment_code"
    },
    {
      "parameters": {
        "jsCode": "// URGENT CONSULT — cho hotline + xin SĐT khách\n// Paste vào n8n node Code mới sau Switch.URGENT_CONSULT\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\n\nconst brand = (d.brand || \"\").toLowerCase().trim();\nconst model_slug = (d.model_slug || \"\").toLowerCase().trim();\n\nlet bundle = '';\nconst files_used = ['wiki/services/urgent-consult.md'];\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + 'wiki/services/urgent-consult.md',\n    returnFullResponse: false\n  });\n  const raw = typeof data === 'string' ? data : JSON.stringify(data);\n  const cleaned = raw.replace(/^---[\\s\\S]*?---\\s*/m, '').trim();\n  bundle += `=== FILE: wiki/services/urgent-consult.md ===\\n${cleaned}\\n\\n`;\n} catch (e) { /* skip 404 */ }\n\nbundle += `=== KHÁCH CẦN TƯ VẤN NGAY ===\nBrand quan tâm: ${brand || '(chưa khai)'}\nModel quan tâm: ${model_slug || '(chưa khai)'}\n\n=== HƯỚNG DẪN AI (PHẢI làm đủ 3 việc) ===\n1. Cho ngay hotline: **1900 545 591** (8:00 - 21:00 hàng ngày).\n2. ĐỒNG THỜI xin SĐT khách + xe quan tâm + tỉnh/thành để chuyên viên gọi lại trong 15 phút.\n3. Tone gấp + cam kết: \"chuyên viên Sale sẽ liên hệ trong 15 phút\".\n\nMẫu phản hồi:\n\"Dạ Anh/Chị gọi ngay hotline **1900 545 591** để được tư vấn ạ 📞\nHoặc Anh/Chị cho em xin **số điện thoại + xe đang quan tâm**, chuyên viên Sale sẽ gọi lại trong 15 phút.\"`;\n\n// Nếu khách đã cho SĐT trong tin nhắn → set cờ capture lead\nconst has_phone = /(\\b0\\d{9}\\b|\\b84\\d{9}\\b)/.test(d.chatInput || '');\n\nreturn [{\n  json: {\n    ...d,\n    mode: 'urgent_consult',\n    files_used,\n    should_capture_lead: has_phone,\n    context_bundle: bundle,\n    bundle_size: bundle.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        1968
      ],
      "id": "593504f3-c895-499f-8d5a-b93aa361acbe",
      "name": "urgent_consult_code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### [TRẠNG THÁI HỘI THOẠI]\n{{ ($('parse_session').first().json._prev.history || []).length === 0 ? '👋 TURN ĐẦU — được chào' : '⚠️ TURN TIẾP THEO — TUYỆT ĐỐI KHÔNG chào lại' }}\n\n### [LỊCH SỬ HỘI THOẠI 10 TURN GẦN NHẤT]\n{{ ($('parse_session').first().json._prev.history || []).map((h, i) => `[${i+1}] User: \"${h.user}\" → intent=${h.intent}, brand=${h.brand || '—'}, model=${h.model || '—'}`).join('\\n') || '(chưa có lịch sử — đây có thể là câu hỏi đầu tiên cụt)' }}\n\n### [TIN NHẮN KHÁCH]\n\"{{ $('When chat message received3').item.json.chatInput }}\"\n\n### [MODE]\n{{ $json.mode }}\n\n### [CONTEXT BUNDLE]\n{{ $json.context_bundle }}",
        "options": {
          "systemMessage": "=## Vai trò: AI tư vấn THACO AUTO — chế độ HANDOFF / KNOWLEDGE LOOKUP.\n\n## Nhiệm vụ\nDựa hoàn toàn vào CONTEXT BUNDLE để trả lời ngắn gọn, đúng tone theo MODE.\n\n## Tone & Format theo MODE\n\n### MODE = trade_in (Thu cũ đổi mới)\n- Tone: nhiệt tình, gợi mở.\n- BẮT BUỘC: kèm link https://usedcars.thacoauto.vn nguyên văn.\n- Đề xuất 3 cách tiếp cận: web / hotline 1900 545 591 / showroom.\n- KHÔNG tự định giá xe cũ.\n- Độ dài: 4-7 dòng + emoji 🚗 hoặc 💰.\n\n### MODE = brand_info (Hỏi thông tin thương hiệu)\n- Tone: chuyên nghiệp, ngắn gọn.\n- Trả lời ĐÚNG câu hỏi của khách (nước nào / web / fanpage).\n- URL phải đưa NGUYÊN VĂN từ metadata, không rút gọn.\n- Độ dài: 2-5 dòng.\n\n### MODE = recruitment (Tuyển dụng)\n- Tone: thân thiện, khích lệ.\n- BẮT BUỘC: kèm link https://tuyendung.thaco.com.vn/tieng-viet\n- Liệt kê các nhóm vị trí (công nhân, chuyên viên, kỹ sư, quản lý, lãnh đạo).\n- Xưng hô: Tập đoàn thành viên THACO AUTO thuộc THACO Groups\n- Độ dài: 5-8 dòng + emoji 💼 hoặc 📩.\n\n### MODE = urgent_consult (Cần tư vấn ngay)\n- Tone: gấp, cam kết.\n- BẮT BUỘC làm đủ 2 việc:\n  1. Cho hotline **1900 545 591**.\n  2. Xin SĐT khách + xe quan tâm để chuyên viên gọi lại trong 15 phút.\n- Độ dài: 3-5 dòng + emoji 📞.\n\n## Quy tắc chung\n- Xưng \"em\", gọi khách \"Anh/Chị\".\n- KHÔNG bịa thông tin ngoài CONTEXT BUNDLE.\n- KHÔNG trả lời câu hỏi ngoài phạm vi (vd hỏi giá xe → chỉ trả \"đây là dịch vụ X, để tư vấn xe mời Anh/Chị hỏi tên xe cụ thể\").\n- KHÔNG đính kèm thông tin của intent khác (vd MODE=trade_in thì không nói về tuyển dụng)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        1680
      ],
      "id": "6519861c-61ed-415f-ba0e-b53565119807",
      "name": "AI Agent-Hand off reply"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        1840
      ],
      "id": "2be2297d-3abe-4f89-9996-4ee9a20c9ce3",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "dQF7ecZV9SX7qFA3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// COMPANY_CONTACT — trả thông tin liên hệ THACO AUTO HQ\n// Paste vào n8n node Code mới sau Switch.COMPANY_CONTACT\nconst d = $input.first().json;\nconst base = 'https://raw.githubusercontent.com/Meeyana/thacoauto-lib/main/';\n\nlet bundle = '';\nconst files_used = ['wiki/company/thaco-auto-contact.md'];\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + 'wiki/company/thaco-auto-contact.md',\n    returnFullResponse: false\n  });\n  const raw = typeof data === 'string' ? data : JSON.stringify(data);\n  const cleaned = raw.replace(/^---[\\s\\S]*?---\\s*/m, '').trim();\n  bundle += `=== FILE: wiki/company/thaco-auto-contact.md ===\\n${cleaned}\\n\\n`;\n} catch (e) { /* skip 404 */ }\n\nbundle += `=== HƯỚNG DẪN AI ===\n- Trả lời ĐÚNG câu hỏi của khách (văn phòng nào / email CSKH / hotline / địa chỉ).\n- Đưa số điện thoại + địa chỉ NGUYÊN VĂN từ file trên, KHÔNG bịa.\n- Nếu khách hỏi gộp 2-3 thông tin → trả gọn dạng bullet.\n- Nếu khách hỏi khu vực không có (vd \"Cần Thơ\") → nói rõ THACO AUTO có 3 văn phòng chính ( HCM, HN, Chu Lai) + gợi ý hotline 1900 545 591.\n- KHÔNG nhầm với showroom đại lý — nếu khách thực ra muốn tìm showroom gần nhà → khuyên gọi hotline để được hướng dẫn.`;\n\nreturn [{\n  json: {\n    ...d,\n    mode: 'company_contact',\n    files_used,\n    context_bundle: bundle,\n    bundle_size: bundle.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        2128
      ],
      "id": "7a2b019a-10ce-47ae-9b2a-74eddd2b2e1a",
      "name": "company_contact_code"
    },
    {
      "parameters": {
        "jsCode": "// format_subiz_reply — chuẩn hoá output về JSON Subiz\nconst aiReply = $('capture_reply').first().json.output || '';\n\n// Tách markdown link ảnh nếu có (vd: ![alt](https://...png))\nconst attachments = [];\nconst imgRegex = /https?:\\/\\/[^\\s\\)]+\\.(png|jpg|jpeg|gif|webp)/gi;\nconst matches = [...aiReply.matchAll(imgRegex)];\nfor (const m of matches) {\n  const ext = m[1].toLowerCase().replace('jpg', 'jpeg');\n  attachments.push({\n    type: 'file',\n    mimetype: `image/${ext}`,\n    url: m[0]\n  });\n}\n\n// Loại URL ảnh khỏi text (tránh hiển thị 2 lần) — tuỳ chọn\nconst cleanText = aiReply.trim();\n\n// Tách link non-image thành message thứ 2 (giống demo Subiz pricing)\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\nconst urls = (cleanText.match(urlRegex) || [])\n  .filter(u => !imgRegex.test(u));\n\nconst messages = [\n  {\n    format: 'plaintext',\n    text: cleanText,\n    ...(attachments.length ? { attachments } : {})\n  }\n];\n\n// Nếu muốn tách link ra message riêng (Subiz render preview đẹp hơn):\n// for (const u of urls) {\n//   messages.push({ format: 'plaintext', text: u });\n// }\n\nreturn [{\n  json: {\n    messages\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        560
      ],
      "id": "93feef47-9385-4ec2-9c96-dc823e57e152",
      "name": "format_subiz_reply"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2592,
        1120
      ],
      "id": "a9f24571-1585-4e45-8567-eadd8ddfdfa3",
      "name": "When chat message received3",
      "webhookId": "7994ed8f-f13f-41b2-ae84-20d7be611414"
    }
  ],
  "connections": {
    "xu_ly_category": {
      "main": [
        [
          {
            "node": "save_sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent1": {
      "main": [
        [
          {
            "node": "reply_greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "safety_guard_reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF sub_close_deal",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "AI Agent - Location Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "complaint_reply",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "reply_out_of_scope",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent — Disambiguator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "trade_in_code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "brand_info_logic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "recruitment_code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "urgent_consult_code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "company_contact_code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "xu_ly_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Entities": {
      "main": [
        [
          {
            "node": "Route by Intent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xu_ly_location1": {
      "main": [
        [
          {
            "node": "Code in Javescript 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Javescript 1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Location Extractor": {
      "main": [
        [
          {
            "node": "xu_ly_location1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Message a model1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Location Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Message a model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gs_read_session": {
      "main": [
        [
          {
            "node": "parse_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_session": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gs_save_session": {
      "main": [
        [
          {
            "node": "restore_router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restore_router": {
      "main": [
        [
          {
            "node": "Normalize Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capture_reply": {
      "main": [
        [
          {
            "node": "gs_update_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gs_update_reply": {
      "main": [
        [
          {
            "node": "format_subiz_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_sessions": {
      "main": [
        [
          {
            "node": "gs_save_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Disambiguator": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Disambiguator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "reply_out_of_scope": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF sub_close_deal": {
      "main": [
        [
          {
            "node": "gs_read_lead_state",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gs_read_lead_state": {
      "main": [
        [
          {
            "node": "AI Agent - Test Drive Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Test Drive Extractor": {
      "main": [
        [
          {
            "node": "merge_lead_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Test Drive Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "merge_lead_state": {
      "main": [
        [
          {
            "node": "IF is_complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF is_complete": {
      "main": [
        [
          {
            "node": "gs_append_test_drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gs_update_partial_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gs_append_test_drive": {
      "main": [
        [
          {
            "node": "reply_complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply_complete": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gs_update_partial_state": {
      "main": [
        [
          {
            "node": "AI Agent - reply_ask_missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - reply_ask_missing": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - reply_ask_missing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "complaint_reply": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trade_in_code": {
      "main": [
        [
          {
            "node": "AI Agent-Hand off reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "brand_info_logic": {
      "main": [
        [
          {
            "node": "AI Agent-Hand off reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recruitment_code": {
      "main": [
        [
          {
            "node": "AI Agent-Hand off reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "urgent_consult_code": {
      "main": [
        [
          {
            "node": "AI Agent-Hand off reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Hand off reply": {
      "main": [
        [
          {
            "node": "capture_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Hand off reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "company_contact_code": {
      "main": [
        [
          {
            "node": "AI Agent-Hand off reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_subiz_reply": {
      "main": [
        []
      ]
    },
    "When chat message received3": {
      "main": [
        [
          {
            "node": "gs_read_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When chat message received3": [
      {
        "sessionId": "792090de6fa94173992b96cd7d058164",
        "action": "sendMessage",
        "chatInput": "Nhà tôi ở quận 3 thì đến showroom nào gần nhất?"
      }
    ]
  },
  "meta": {
    "instanceId": "07c1c7ec2cda95a2b0ca5f954d25b4243bbf78131f2b02a8a5d44c777d7f6dfd"
  }
}